

.heading-section {
  font-size: 28px;
  color: #000;
  display: flex;
  margin-right: 120px;

  }

  .container{
      padding-top: 50px;
  }

  .table tr:hover{
      background: rgba(3, 3, 3, 0.336);
      color: #fff;
    }

    .table thead{
      background-color:rgb(248, 233, 14);
    }
    .table tbody{
      background-color: rgb(253, 253, 253);
    }

  .edit:hover{
      background-color: yellow;
      border-radius: 12px;
  }

  .agregar {
      padding: 0.8em 1.8em;
      border: 2px solid #fbff05;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      transition: .3s;
      z-index: 1;
      font-family: inherit;
      color: #070707;
     }

     .agregar::before{
      content: '';
      width: 0;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: #f9fd01;
      transition: .5s ease;
      display: block;
      z-index: -1;
     }

     .agregar:hover::before {
      width: 105%;
     }

     .agregar:hover {
      color: #111;
     }

     .buscar {
      line-height: 28px;
      border: 2px solid transparent;
      border-bottom-color: rgb(0, 0, 0);
      padding: .2rem 0;
      outline: none;
      background-color: transparent;
      color: #0d0c22;
      transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
     }

     .buscar:focus, .buscar:hover {
      outline: none;
      padding: .2rem 1rem;
      border-radius: 1rem;
      border-color: #fffb04;
     }

     .buscar::placeholder {
      color: rgb(0, 0, 0);
     }

     .buscar:focus::placeholder {
      opacity: 0;
      transition: opacity .3s;
     }

    @media(max-width:326px){

      h1{
        font-size: 20px;
      }

      .table thead, tbody{
        font-size: 12px;
      }


    }

    @media(max-width:276px){

      h1{
        font-size: 10px;
      }

      .table thead, tbody{
        font-size: 9px;
      }

    }
