<body>
  <div class="text-center cuerpo">
    <div class="ima far fa-4x mb-3 text-primary">
      <img class="far fa-file-alt fa-4x mb-3 text-primary" src="assets/logo_negroo.png">
    </div>
    <div class="texto far mb-3 ">
      <p>
        <strong>Bienvenido a la familia</strong>
      </p>
      <p>
        Antes de iniciar tu proceso, responde la siguiente encuesta.
        <strong>Queremos brindarte el mejor servicio, por ende el como te encuentras de salud es muy importante para nosotros.</strong>
      </p>
    </div>
  </div>
  <mat-stepper>


    <mat-step label="Historial y Enfermedades" state="phone">
      <div class="centro">
      <mat-card class="card2">
        <div class="row justify-content-md-center">

            <form class="form-inline" [formGroup]="formHistory" (ngSubmit)="createHistory(formHistory.value,3)" style="padding-bottom: 15 rem;">

              <p class="text-center"><strong>¿Hace más de dos años que no se realiza un examen médico que incluya tensión arterial y 
                escucha de su corazón?</strong></p>
                <div class="col">

                  <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,3)">
                  <div class="form-check form-check-inline">
                      <mat-radio-button value="SI">SI</mat-radio-button>
                  </div>
                  <div class="form-check form-check-inline">
                    <mat-radio-button value="NO">NO</mat-radio-button>
                </div>

              </mat-radio-group>
                <div class="form-check form-check-inline">
                  <button class="guardar" type="submit">
                  <div class="svg-wrapper-1">
                    <div class="svg-wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                      </svg>
                    </div>
                  </div>
                  <span></span>
                </button>
                </div>
                </div>

                <div *ngIf="state_3 == 'si'; then si"></div>

                <ng-template #si>

                  <p class="text-center"><strong>¿Cual?</strong></p>
                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                  </div>

                </ng-template>

            </form>



            <form class="form-inline" [formGroup]="formHistory" (ngSubmit)="createHistory(formHistory.value,4)">

              <p class="text-center"><strong>Tiene o ha tenido: <br>
                a) asma <br>
                b) epilepsia o convulsiones<br>
                c) anemia <br>
                d) hemofilia </strong></p>
                <div class="col">
                  <mat-radio-group aria-label="Select an option" (change)="changueState($event,4)" formControlName="respuesta">
                  <div class="form-check form-check-inline">
                      <mat-radio-button value="SI">SI</mat-radio-button>
                  </div>
                  <div class="form-check form-check-inline">
                    <mat-radio-button value="NO">NO</mat-radio-button>
                </div>
              </mat-radio-group>
                <div class="form-check form-check-inline">
                  <button class="guardar" type="submit">
                  <div class="svg-wrapper-1">
                    <div class="svg-wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                      </svg>
                    </div>
                  </div>
                  <span></span>
                </button>
                </div>
                </div>

                <div *ngIf="state_4 == 'si'; then tiene"></div>

                <ng-template #tiene>

                  <p class="text-center"><strong>¿Cual?</strong></p>
    
                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                  </div>

                </ng-template>

            </form>

            <form class="form-inline" [formGroup]="formHistory" (ngSubmit)="createHistory(formHistory.value,5)">

              <p class="text-center"><strong>¿Hay algún motivo o enfermedad para prevenir su participación en deportes (p.ej.: 
                artrosis, osteoporosis, cáncer, enfermedad renal, de hígado o tiroides)?</strong></p>
                <div class="col">
                  <mat-radio-group aria-label="Select an option" (change)="changueState($event,5)" formControlName="respuesta">
                  <div class="form-check form-check-inline">
                      <mat-radio-button value="SI">SI</mat-radio-button>
                  </div>
                  <div class="form-check form-check-inline">
                    <mat-radio-button value="NO">NO</mat-radio-button>
                </div>
              </mat-radio-group>
                <div class="form-check form-check-inline">
                  <button class="guardar">
                  <div class="svg-wrapper-1">
                    <div class="svg-wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                      </svg>
                    </div>
                  </div>
                  <span></span>
                </button>
                </div>
                </div>

                <div *ngIf="state_5 == 'si'; then motivo"></div>

                <ng-template #motivo>

                  <p class="text-center"><strong>¿Cual?</strong></p>
    
                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                  </div>


                </ng-template>


            </form>
            




          <div *ngIf="!genero; then embarazada"></div>

          <ng-template #embarazada>

              <form class="form-inline" [formGroup]="formHistory" (ngSubmit)="createHistory(formHistory.value,28)">

                    <p class="text-center"><strong>¿ Esta embarazada ?</strong></p>
                    <div class="col">
                      <mat-radio-group aria-label="Select an option" (change)="changueState($event,28)" formControlName="respuesta">
                      <div class="form-check form-check-inline">
                          <mat-radio-button value="SI">SI</mat-radio-button>
                      </div>
                      <div class="form-check form-check-inline">
                        <mat-radio-button value="NO">NO</mat-radio-button>
                    </div>
                  </mat-radio-group>
                    <div class="form-check form-check-inline">
                      <button class="guardar">
                      <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                          </svg>
                        </div>
                      </div>
                      <span></span>
                    </button>
                    </div>
                    </div>

                    <div *ngIf="state_28 == 'si'; then meses"></div>

                    <ng-template #meses>

                      <p class="text-center"><strong>¿Cuántos meses de gestación lleva??</strong></p>
        
                      <!-- Message input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                      </div>


                    </ng-template>


              </form>
  

          </ng-template>



          <form class="form-inline" [formGroup]="formHistory" (ngSubmit)="createHistory(formHistory.value,6)">

              <p class="text-center"><strong>¿ Le falta o tiene problemas en ojo, riñón o partes intimas ?</strong></p>
              <div class="col">
                <mat-radio-group aria-label="Select an option" (change)="changueState($event,6)" formControlName="respuesta">
                <div class="form-check form-check-inline">
                    <mat-radio-button value="SI">SI</mat-radio-button>
                </div>
                <div class="form-check form-check-inline">
                  <mat-radio-button value="NO">NO</mat-radio-button>
              </div>
            </mat-radio-group>
              <div class="form-check form-check-inline">
                <button class="guardar">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span></span>
              </button>
              </div>
              </div>

              <div *ngIf="state_6 == 'si'; then ojo"></div>

              <ng-template #ojo>

                <p class="text-center"><strong>¿Cual?</strong></p>
    
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                </div>

              </ng-template>


          </form>
          

          <form class="form-inline" [formGroup]="formHistory" (ngSubmit)="createHistory(formHistory.value,7)">

            <p class="text-center"><strong>¿ Usa gafas o lentes de contacto ?</strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option"  (change)="changueState($event,7)" formControlName="respuesta">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>

              <div *ngIf="state_7 == 'si'; then lentes"></div>

              <ng-template #lentes>

                <p class="text-center"><strong>¿Cual?</strong></p>
  
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                </div>

              </ng-template>


          </form>



          <form class="form-inline" [formGroup]="formHistory" (ngSubmit)="createHistory(formHistory.value,8)">

              <p class="text-center"><strong>¿ Usa prótesis en ojo, boca u oído ?</strong></p>
              <div class="col">
                <mat-radio-group aria-label="Select an option" (change)="changueState($event,8)" formControlName="respuesta">
                <div class="form-check form-check-inline">
                    <mat-radio-button value="SI">SI</mat-radio-button>
                </div>
                <div class="form-check form-check-inline">
                  <mat-radio-button value="NO">NO</mat-radio-button>
              </div>
            </mat-radio-group>
              <div class="form-check form-check-inline">
                <button class="guardar">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span></span>
              </button>
              </div>
              </div>

                <div *ngIf="state_8 == 'si'; then protesis_ojo"></div>

                <ng-template #protesis_ojo>

                  <p class="text-center"><strong>¿Cual?</strong></p>
    
                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                  </div>

                </ng-template>


          </form>



        
        </div>
        <div class="d-flex pt-1">
          <button mat-button matStepperNext class="button flex-grow-1" (click)="validateHistory()"> GUARDAR
          </button>
      </div>
      
      </mat-card>
    </div>
    </mat-step>







    <mat-step label="Examenes Clinicos" state="chat">
      <div class="centro">
        <mat-card class="card2">
          <div class="row justify-content-md-center">


        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,9)">

              <p class="text-center"><strong>¿ Le han dicho alguna vez que tiene un soplo en el corazón, un corazón grande o una 
                enfermedad del corazón ?</strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,9)">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar" type="submit">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>

            <div *ngIf="state_9 == 'si'; then soplo"></div>

            <ng-template #soplo>

              <p class="text-center"><strong>¿Cual?</strong></p>

              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
              </div>

            </ng-template>

        </form>


        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,10)">

          <p class="text-center"><strong> Ha tenido durante o después de esfuerzos: <br>
            a) dolor, presión o molestias en el pecho o brazos <br>
            b) dolor en las piernas<br>
            c) mareos<br>
            d) desmayo o lipotimia </strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,10)">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar" type="submit">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>
 
            <div *ngIf="state_10 == 'si'; then tenido_10"></div>

            <ng-template #tenido_10>

              <p class="text-center"><strong>¿Cual?</strong></p>
    
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
              </div>

            </ng-template>


        </form>


        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,11)">

          <p class="text-center"><strong> Ha tenido durante o después de esfuerzos: <br>
            a) dificultad para respirar <br>
            b) palpitaciones, falta de latidos o latidos fuertes <br>
            c) náuseas, malestar abdominal o sensación rara de indigestión <br>
            d) fatiga inusual </strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,11)">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar" type="submit">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>

            <div *ngIf="state_11 == 'si'; then dificultad"></div>

            <ng-template #dificultad>

              <p class="text-center"><strong>¿Cual?</strong></p>
    
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
              </div>

            </ng-template>


        </form>


        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,12)">

          <p class="text-center"><strong>¿ Ha tenido síntomas de gripe o viriasis el último mes?</strong></p>
          <div class="col">
            <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,12)">
            <div class="form-check form-check-inline">
                <mat-radio-button value="SI">SI</mat-radio-button>
            </div>
            <div class="form-check form-check-inline">
              <mat-radio-button value="NO">NO</mat-radio-button>
          </div>
        </mat-radio-group>
          <div class="form-check form-check-inline">
            <button class="guardar" type="submit">
            <div class="svg-wrapper-1">
              <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                </svg>
              </div>
            </div>
            <span></span>
          </button>
          </div>
          </div>

          <div *ngIf="state_12 == 'si'; then gripe"></div>

          <ng-template #gripe>

            <p class="text-center"><strong>¿Cual?</strong></p>
    
            <!-- Message input -->
            <div class="form-outline mb-4">
              <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
            </div>


          </ng-template>



        </form>

       
        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,13)">

          <p class="text-center"><strong>Ha tenido: <br>
            a) hinchazón de sus tobillos <br>
            b) dificultad para respirar que lo despierta por la noche</strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,13)">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>

            <div *ngIf="state_13 == 'si'; then hinchazon"></div>

            <ng-template #hinchazon>

              <p class="text-center"><strong>¿Cual?</strong></p>
    
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
              </div>

            </ng-template>


        </form>


        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,14)">

          <p class="text-center"><strong>Usted <br>
            b) tiene la tensión arterial alta <br>
            c) tiene el colesterol alto <br>
            d) tiene diabetes </strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,14)">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar" type="submit">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>

            <div *ngIf="state_14 == 'si'; then usted"></div>

            <ng-template #usted>

              <p class="text-center"><strong>¿Cual?</strong></p>
    
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
              </div>

            </ng-template>


        </form>


        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,19)">


          <p class="text-center"><strong>¿ Hay alguien en su familia que haya fallecido de forma súbita antes de los 50 años
            (del corazón, accidente de transito, ahogamiento u otros) ? </strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,19)">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar" type="submit">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>

            <div *ngIf="state_19 == 'si'; then familia"></div>

            <ng-template #familia>

                  <p class="text-center"><strong>¿Cual?</strong></p>
        
                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                  </div>

            </ng-template>

        </form>


        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,20)">

          <p class="text-center"><strong>¿Hay alguien en su familia que haya tenido problemas en la circulación del corazón, 
            como angina de pecho, ataque al corazón, infarto o aterosclerosis antes de los 50 
            años (padre, madre, hermanos, etc) ?</strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,20)">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>

            <div *ngIf="state_20 == 'si'; then circulacion"></div>

            <ng-template #circulacion>

              <p class="text-center"><strong>¿Cual?</strong></p>
    
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
              </div>

            </ng-template>


        </form>


        <form class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,21)">

          <p class="text-center"><strong>¿Sabe si existe algún problema del corazón en los miembros de la familia, o que haya 
            tenido desmayo o convulsiones inexplicables?</strong></p>
            <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,21)">
              <div class="form-check form-check-inline">
                  <mat-radio-button value="SI">SI</mat-radio-button>
              </div>
              <div class="form-check form-check-inline">
                <mat-radio-button value="NO">NO</mat-radio-button>
            </div>
          </mat-radio-group>
            <div class="form-check form-check-inline">
              <button class="guardar">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                  </svg>
                </div>
              </div>
              <span></span>
            </button>
            </div>
            </div>

            <div *ngIf="state_21 == 'si'; then desmayo"></div>

            <ng-template #desmayo>

              <p class="text-center"><strong>¿Cual?</strong></p>
    
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
              </div>

            </ng-template>



        </form>


        <div *ngIf="!genero; then menstruacion"></div>

        <ng-template #menstruacion >

            <form  class="form-inline" [formGroup]="formExams" (ngSubmit)="createHistory(formExams.value,22)">


              <p class="text-center"><strong>Tiene : <br>
                a) falta de menstruación <br>
                b) ha tenido la menopausia antes de los 45 años <br>
                c) tratamiento con hormonas de reemplazo </strong></p>
                <div class="col">
                  <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,22)">
                  <div class="form-check form-check-inline">
                      <mat-radio-button value="SI">SI</mat-radio-button>
                  </div>
                  <div class="form-check form-check-inline">
                    <mat-radio-button value="NO">NO</mat-radio-button>
                </div>
              </mat-radio-group>
                <div class="form-check form-check-inline">
                  <button class="guardar">
                  <div class="svg-wrapper-1">
                    <div class="svg-wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                      </svg>
                    </div>
                  </div>
                  <span></span>
                </button>
                </div>
                </div>

                <div *ngIf="state_22 == 'si'; then falta_menstruacion"></div>

                <ng-template #falta_menstruacion>

                  <p class="text-center"><strong>¿Cual?</strong></p>
        
                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                  </div>

                </ng-template>



            </form>





        </ng-template>






    



  </div>
          <div class="d-flex pt-1">
            <button mat-button matStepperNext class="button flex-grow-1" (click)="validateExam()"> GUARDAR
            </button>
        </div>
        <div class="d-flex pt-1">
          <button mat-button matStepperPrevious class="button2 flex-grow-1"> Regresar
          </button>
      </div>
        </mat-card>
      </div>
    </mat-step>







    <mat-step label="Ejercicio Fisico">
      <div class="centro">
        <mat-card class="card2">
          <div class="row justify-content-md-center">


            <form class="form-inline" [formGroup]="formExercise" (ngSubmit)="createHistory(formExercise.value,23)">

              <p class="text-center"><strong> ¿ Hace algún tipo de actividad física ?</strong></p>
              <div class="col">
                <mat-radio-group aria-label="Select an option" formControlName="respuesta" (change)="changueState($event,23)">
                <div class="form-check form-check-inline">
                    <mat-radio-button value="SI">SI</mat-radio-button>
                </div>
                <div class="form-check form-check-inline">
                  <mat-radio-button value="NO">NO</mat-radio-button>
              </div>
            </mat-radio-group>
              <div class="form-check form-check-inline">
                <button class="guardar" type="submit">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span></span>
              </button>
              </div>
              </div>

              <div *ngIf="state_23 == 'si'; then tipo"></div>

              <ng-template #tipo>

                <p class="text-center"><strong>¿Cual?</strong></p>

                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                </div>

              </ng-template>

        </form>

        <div *ngIf="state_exercise == 'si'; then actividad"></div>

        <ng-template #actividad>

            <form class="form-inline" [formGroup]="formExercise" (ngSubmit)="createHistory(formExercise.value,24)">

                  <p class="text-center"><strong>¿Qué actividad fisica practica? </strong></p>
                  <input type="hidden" formControlName="respuesta" [(ngModel)]="yesTemp">
                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                  </div>

                  <div class=" d-flex justify-content-center">
                    <button class="guardar" type="submit">
                    <div class="svg-wrapper-1">
                      <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                        </svg>
                      </div>
                    </div>
                    <span></span>
                  </button>
                </div>    

            </form>
        
            <form class="form-inline" [formGroup]="formExercise" (ngSubmit)="createHistory(formExercise.value,25)">

              <input type="hidden" formControlName="respuesta" [(ngModel)]="yesTemp">
              <p class="text-center"><strong> Con que intensidad practica dicha actividad fisica: <br>
                a) baja <br>
                b) moderada <br>
                c) alta</strong></p>
          
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
                </div>

              <div class=" d-flex justify-content-center">
                  <button class="guardar" type="submit">
                  <div class="svg-wrapper-1">
                    <div class="svg-wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                      </svg>
                    </div>
                  </div>
                  <span></span>
                </button>
              </div>


            </form>

            <form class="form-inline" [formGroup]="formExercise" (ngSubmit)="createHistory(formExercise.value,26)">

              <input type="hidden" formControlName="respuesta" [(ngModel)]="yesTemp">
              <p class="text-center"><strong>Desde hace cuanto realiza dicha actividad fisica : <br>
                a) 0-3 meses <br>
                b) 3-12 meses <br>
                c) más de 12 meses</strong></p>
        
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion"></textarea>
              </div>

              <div class=" d-flex justify-content-center">
                <button class="guardar" type="submit">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span></span>
              </button>
            </div>

            </form>


            <form class="form-inline" [formGroup]="formExercise" (ngSubmit)="createHistory(formExercise.value,27)">

              <p class="text-center"><strong>¿ Cuantos Días a la semana practica dicha actividad fisica ?</strong></p>
              <input type="hidden" [(ngModel)]="yesTemp" formControlName="respuesta">
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example4" rows="1" formControlName="observacion" value=""></textarea>
              </div>
    
              <div class=" d-flex justify-content-center">
                <button class="guardar" type="submit">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span></span>
              </button>
            </div>

            </form>






        </ng-template>
  
</div>
          <div class="d-flex pt-1">
            <button mat-button matStepperNext class="button flex-grow-1" (click)="validateExercise()"> GUARDAR
            </button>
        </div>
        <div class="d-flex pt-1">
          <button mat-button matStepperPrevious class="button2 flex-grow-1"> Regresar
          </button>
      </div>
        </mat-card>
      </div>
    </mat-step>






    <mat-step label="Acuerdo de Terminos y Condiciones" state="phone" >
      <div class="centro">
        <mat-card class="card2">
          <div class="row justify-content-md-center">
  
            <embed src="assets/terminos y condiciones.pdf" type="application/pdf" width="100%" height="300px" />

          </div>

          <div class="row">

            <section class="example-section">

              <div class="mb-3">
                <mat-checkbox class="example-margin" [(ngModel)]="terminos" (change)="validateCheck()">Acepto los terminos y condiciones</mat-checkbox>
                <div *ngIf="state_terminos == 'si'; then terminos_"></div>
                
                <ng-template #terminos_>

                  <small id="helpId" class="form-text text-muted" style="color: red;">Para poder finalizar el proceso de activación de la cuenta debe aceptar los terminos y condiciones.</small>

                </ng-template>

              </div>              

              <div class="mb-3">
                <mat-checkbox class="example-margin" [(ngModel)]="politicas" (change)="validateCheckPolitics()">Acepto las Políticas de Tratamiento de Datos Personales</mat-checkbox>
                <div *ngIf="state_politicas == 'si_'; then politicas_"></div>
  
                <ng-template #politicas_>
  
                  <small id="helpId" class="form-text text-muted" style="color: red;">Para poder finalizar el proceso de activación de la cuenta debe aceptar las políticas de uso de datos personales.</small>
  
                </ng-template>
              </div>

            </section>

          </div>

        </mat-card>
      </div>
    </mat-step>




    <mat-step label="Cambio de contraseña" state="phone" >
      <div class="centro">
        <mat-card class="card2">

          <form [formGroup]="formPassword" (ngSubmit)="updatePassword(formPassword.value)">

                <div class="row justify-content-md-center">
                  <p class="text-center"><strong>Ingrese su contraseña actual</strong></p>
            
                    <mat-form-field appearance="fill">
                        <mat-label>Digite su Contraseña</mat-label>
                        <input matInput type="password" name="password" formControlName="password_old">
                    </mat-form-field>
            
                  <p class="text-center"><strong>Ingrese su nueva contraseña </strong></p>
            
                  <mat-form-field appearance="fill">
                    <mat-label>Digite su Contraseña</mat-label>
                    <input matInput type="password" name="password" formControlName="password_new">
                </mat-form-field>
            
                <p class="text-center"><strong>Confirme su nueva contraseña </strong></p>
            
                <mat-form-field appearance="fill">
                  <mat-label>Digite su Contraseña</mat-label>
                  <input matInput type="password" name="password" formControlName="password_new_conf">
              </mat-form-field>
                      </div>
                      <div class="d-flex pt-1">
                        <button class="button flex-grow-1" type="submit"> Finalizar
                        </button>
                    </div>

          </form>






        </mat-card>
      </div>
    </mat-step>







    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-stepper>
</body>