<body>
  <div class="container">
   <h1 style="color: white;">Noticias:</h1>

  <table class="table table-striped">

      <div class="card" *ngFor="let notice of listNotices | paginate: { itemsPerPage: 10, currentPage: p }">
    <tbody>
      <th><img src="data:image/png;base64,{{arrayBufferToBase64(notice.multimedia.data)}}" width="100%;" alt=""></th>
      <tr>

          <div class="contenido">
              <h3><th>{{notice.titulo}}</th></h3>
      <p>
      <td>
         {{notice.descripcion}}...
     </td>
  </p>
  <td>Publicado por: {{notice.nombres + " " + notice.primer_apellido + " " + notice.segundo_apellido}}</td>
  <br><td>Fecha de publicación: {{notice.fecha_informacion.substring(0,10)}}</td>
  <a routerLink="/view-notice/{{notice.id_informacion}}"> <td style="cursor: pointer;" > Ver más </td> </a>
      </div>

    </tbody>

  </div>
  </table>
  <pagination-controls
    (pageChange)="handlePageChange($event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>
  </div>
  </body>
