@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Anton&family=Bangers&family=Koulen&family=Permanent+Marker&family=Signika+Negative:wght@700&display=swap');

.table tr:hover{
  background: rgba(3, 3, 3, 0.336);
  color: #fff;
}

.table thead{
  background-color:rgb(248, 233, 14);
}
.table tbody{
  background-color: rgb(253, 253, 253);
}

.t2 tr:hover{
  background: rgba(3, 3, 3, 0.336);
  color: #fff;
}
.centro{
  margin-left: -120px;
  padding: 0 0 5px 0 ;
}
.titulo{
  margin-left: 40px;
  font-family: 'Akshar', sans-serif;
}
.mensaje p{
  color: red; 
  font-size: 15px; 
  padding: 4px 0 0 0;
}
.agregar{
  font-family: 'Akshar', sans-serif;
}

.t2 thead{
  background-color:rgb(248, 233, 14);
}
.t2 tbody{
  background-color: rgb(253, 253, 253);
}
  .centro{
    max-width: 2000px;
  
    margin-left: 12px;
  
    }
  
    .centro .titulo{
      padding:40px 0 0 250px;
      color: black;
       font-size: 40px;
      }
  
      .centro .buscar{
      margin-left: 300px;
      padding-top: -100px;
      width: 40%;
      height: 40px;
      line-height: 28px;
      padding: 0 1rem;
      padding-left: 2.5rem;
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #f3f3f4;
      color: #0d0c22;
      transition: .3s ease;
      }
      .centro .buscar::placeholder {
      color: #9e9ea7;
      }
  
      .cento .buscar:focus,.centro .buscar:hover {
      outline: none;
      border-color: rgba(253, 249, 3, 0.993);
      background-color: #fff;
      box-shadow: 0 0 0 4px rgba(252, 248, 2, 0.452);
      }
       .busco{
        padding: 0 0 0 1px;
     }
     .busca {
      line-height: 28px;
      border: 2px solid transparent;
      border-bottom-color: rgb(0, 0, 0);
      padding: .2rem 0;
      outline: none;
      background-color: transparent;
      color: #0d0c22;
      transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
     }
     
     .busca:focus, .buscar:hover {
      outline: none;
      padding: .2rem 1rem;
      border-radius: 1rem;
      border-color: #fffb04;
     }
     
     .busca::placeholder {
      color: rgb(0, 0, 0);
     }
     
     .busca:focus::placeholder {
      opacity: 0;
      transition: opacity .3s;
     }   
     .ic{
        border-radius:0px !important;
        transition:all 0.5s;
        width:234px;
      }
      .ic .icono{
        transition: all 1s;
        font-size:14px;
        cursor: pointer;
      }
      .ic:hover .icono{
        transform: rotate(360deg);
        background-color: #fffb04;
        border-radius: 50%;
      }
      
       .texto{
        padding: 20px;
      }

      @media(max-width:1009px){
        .agregar{
          font-family: 'Akshar', sans-serif;
          padding: 0 0 0 60px;
        }
        .ica{
          display: flex;
          margin-top: -45px;
          padding: 0 0 0 120px;
          border-radius:0px !important;
          transition:all 0.5s;
          width:234px;
        }
      }

    @media(max-width:988px){
      .centro{
        padding: 0 0 6px 1px;
        margin-left: -100px;
      }
      .mensaje{
        padding: 4px 0 0 60px;
      }
    }

 @media(max-width:630px){
      .centro .buscar{
      width: 40%;
      height: 40px;
      line-height: 28px;
       padding: 0 1rem;
      padding-left: 1.5rem;
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #f3f3f4;
      color: #0d0c22;
      transition: .3s ease;
      }
      .centro .buscar::placeholder {
      color: #9e9ea7;
      }
  
  .centro .buscar:focus,.centro .buscar:hover {
  
  outline: none;
  
   border-color: rgba(253, 249, 3, 0.993);
  
    background-color: #fff;
  
    box-shadow: 0 0 0 4px rgba(252, 248, 2, 0.452);
  
    }
  }
  
  @media(max-width:479px){
    .centro{
      padding: 0 0 6px 1px;
      margin-left: -290px;
    }
    .centro .titulo{
      font-size: 25px;
      margin-left: 12px;
    }
    .mensaje{
      padding: 4px 0 0 190px;
    }
    .table {
      width:100%;
  }
  .table-wrap{
    padding: 0 0 0 30px;
  }
  .table thead {
      display: none;
  }
  .table tr:nth-of-type(2n) {
      background-color: inherit;
  }
  .table tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  .table tbody td {
      display: block;
      text-align:center;
  }
  .table tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
  }
  @media(max-width:457px){
    .agregar{
      font-family: 'Akshar', sans-serif;
      padding: 0 0 0 185px;
    }
    .ica{
      display: flex;
      margin-top: -45px;
      padding: 0 0 0 250px;
      border-radius:0px !important;
      transition:all 0.5s;
      width:234px;
    }
  }









  .icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    color: aliceblue;
    background: rgb(0, 0, 0);
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
    }
    
    .add-btn:hover {
    width: 120px;
    }

    .add-btn::before,
    .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
     top: calc(50% - 2px);
    background: seagreen;
    }
    
    .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    }
    
    .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    }
    
    .icon-btn:focus {
    outline: none;
    }
    
    .btn-txt {
     opacity: 0;
    transition: opacity 0.2s;
    }
    
    .add-btn:hover::before,
    .add-btn:hover::after {
     width: 4px;
    border-radius: 2px;
    }
    
  .add-btn:hover .btn-txt {
    opacity: 1;
  }

    .add-icon::after,
    .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
     background: seagreen;
    overflow: hidden;
    }
    
    .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
    
    .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
    
  .add-btn:hover .add-icon::before {  
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
  }
    
    .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
    }