<div class="container">
    <div class="row justify-content-center">
      <div class=" centro">
        <h1 class="titulo">Lista de Planes Nutricionales</h1>
            <input type="text" class="buscar" placeholder="Buscar"  name="filtro" [(ngModel)]="filtro"> 
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table class="table table-striped">
                <thead class="thead-primary">
                  <tr>
                      <th>#</th>
                      <th>Titulo</th>
                      <th>T. Plan Nutricional</th>
                      <th>Acciones</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let list of listNutrition | nutrition:filtro | paginate: {id: 'nutrition', itemsPerPage: 10, currentPage: p }">
  
                            <td></td>
                            <td>{{list.nombre_plan}}</td>
                            <td>{{list.nombre_tipo_nutri}}</td>

                            <td class="texto">
                              <a class="ic" (click)="updateNutritionGeneral(list.id_plan)" > <img src="https://img.icons8.com/ios-glyphs/30/undefined/edit--v1.png" class="icono"/></a>
                            </td>

                            <td class="texto">
                                <a class="ic" target="_blank" (click)="searchPlanNutrition(list.id_plan)"><img src="https://img.icons8.com/ios-glyphs/30/undefined/view-file.png" class="icono"/></a>
                            </td>
                  </tr>

                </tbody>
              </table>

            <pagination-controls id="nutrition" (pageChange)="handlePageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

            </div>
        </div>
    </div>

</div>

<div class="container">

    <button class="icon-btn add-btn" data-bs-toggle="modal" data-bs-target="#createPlans">
        <div class="add-icon"></div>
        <div class="btn-txt">Agregar</div>
    </button>

</div>


  
  <!------------------ Modal For Create Plan Nutrition  ----------------------->
  <div class="modal fade" id="createPlans" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Registrar un Plan de Alimentación </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="formCreatePlanNutrition" (ngSubmit)="createNutrition(formCreatePlanNutrition.value)">

                <div class="mb-3">
                  <label for="" class="form-label">Nombre del Plan</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="nombre_plan">
                  <small id="helpId" class="form-text text-muted">El nombre que ingresó es el que se mostrará en la lista de planes generales</small>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Registrar</button>
                </div>
            </form>


        </div>

      </div>
    </div>
  </div>
