<div class="contenedor">
    <div class="cabecera">
        <div class="ver" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M208.08,0.00 C152.69,67.09 262.02,75.98 200.80,150.00 L0.00,150.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(251, 255, 0);"></path></svg></div>
        <h1 class="titulo">PLANES D </h1>
        <h1 class="titulo2"> E ALIMENTACIÓN</h1>
        <img src="data:image/png;base64,{{img_logo}}" class="logo">
    </div>
    </div>

<div class="container">
    <div class="row justify-content-center">
      <div class=" centro">
        <h1 class="titulos">Lista de Clientes sin Plan de Alimentación</h1>
            <input type="text" class="buscar" placeholder="Buscar"  name="filtro_user_new" [(ngModel)]="filtro_user_new"> <!--[(ngModel)]="filtro"--->
      </div>
      <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table class="table table-striped">
                <thead class="thead-primary">
                  <tr>
                      <th>#</th>
                      <th>Documento</th>
                      <th>Nombres</th>
                      <th>Acciones</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let list of listNewUser | clientes:filtro_user_new | paginate: { id: 'new' , itemsPerPage: 10, currentPage: p }">
  
                            <td></td>
                            <td>{{list.documento}}</td>
                            <td>{{list.nombres + " " + list.primer_apellido + " " + list.segundo_apellido}}</td>
                            
                            <td class="texto"><a class="ic" (click)="assingDocument(list.documento)" data-bs-toggle="modal" data-bs-target="#createPlanNutritionPersonal"><img class="icono" src="https://img.icons8.com/material-rounded/24/000000/plus--v1.png"/></a></td>

                            <td class="texto"> <a class="ic" (click)="assingDocument(list.documento)" data-bs-toggle="modal" data-bs-target="#exampleModal"  ><img class="icono" src="https://img.icons8.com/ios-filled/50/000000/batch-assign.png" width="30" /></a></td>


                    </tr>

                </tbody>
              </table>

            <pagination-controls id="new" (pageChange)="handlePageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row justify-content-center">
      <div class=" centro">
        <h1 class="titulos">Lista de Clientes con Plan de Alimentación</h1>
            <input type="text" class="buscar" placeholder="Buscar"  name="filtro_user_old" [(ngModel)]="filtro_user_old"> <!--[(ngModel)]="filtro"--->
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table class="table table-striped">
                <thead class="thead-primary">
                  <tr>
                    <th>#</th>
                      <th>Documento</th>
                      <th>Usuarios</th>
                      <th>T. Plan Nutricional</th>
                      <th></th>
                      <th></th>
                      <th>Acciones</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>

                <tr *ngFor="let list of listOldUser | clientes:filtro_user_old | paginate: { id: 'old' , itemsPerPage: 10, currentPage: p }">

                  <td></td> 
  
                    <td>{{list.documento}}</td>
                    <td>
                      {{list.nombres + " " + list.primer_apellido + " " + list.segundo_apellido}}
                    </td>
                    <td>{{list.nombre_tipo_nutri}}</td>

                    <td class="texto"> <a class="ic" (click)="assingDocument(list.documento)" data-bs-toggle="modal" data-bs-target="#createPlanNutritionPersonalOld" ><img class="icono" src="https://img.icons8.com/ios-filled/50/000000/batch-assign.png" width="30" /></a></td>

                    <td class="texto">
                        <a class="ic" data-bs-toggle="modal" data-bs-target="#assingOldUser" (click)="assingDocument(list.documento)"><img src="https://img.icons8.com/material-rounded/48/000000/insert-page.png" class="icono" width="35px" height="35px"/></a>
                    </td>
                    
                    <td class="texto">
                        <a class="ic" data-bs-toggle="modal" data-bs-target="#editNutrition" (click)="searchNutrition(list.documento,list.id_plan,list.nombre_tipo_nutri)"> <img src="https://img.icons8.com/ios-glyphs/30/undefined/edit--v1.png" class="icono"/></a>
                    </td>

                    <td class="texto">
                        <a class="ic" (click)="seePlanNutrition(list.id_plan,list.documento)" ><img src="https://img.icons8.com/ios-glyphs/30/undefined/view-file.png" class="icono"/></a>
                    </td>

                </tr>


                </tbody>
              </table>
            </div>
        </div>
    </div>
        
      <pagination-controls id="old" (pageChange)="handlePageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>






<!--------------- Modal for assing plan nutrition for new users ------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Planes Nutricionales Generales:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cleanUpNutrition()"></button>
      </div>
      <div class="modal-body">
        
        <div class="centroo">

          <input type="text" class="buscar" placeholder="Buscar">

        </div>


            <div class="row">
              <div class="col-md-12">
                  <div class="table-wrap">
                      <table class="table table-striped">
                      <thead class="thead-primary">
                        <tr>
                            <th>#</th>
                            <th>Plan de Alimentación</th>
                            <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
      
                          <tr *ngFor="let list of listNutrition | paginate: { id: 'plans' , itemsPerPage: 10, currentPage: p }">
        
                                  <td></td>
                                  <td>{{list.nombre_plan}}</td>
                                  
                                    <td class="texto">
                                      <a class="ic" data-bs-toggle="modal" data-bs-target="#requestDate" (click)="addID_Plan(list.id_plan)" ><img src="https://img.icons8.com/material-rounded/48/000000/insert-page.png" class="icono" width="35px" height="35px"/></a>
                                  </td>
                          </tr>
      
                      </tbody>
                    </table>
      
                  <pagination-controls id="plans" (pageChange)="handlePageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      
                  </div>
              </div>
          </div>
    

      </div>

    </div>
  </div>
</div>



<!--------------- Modal for assing plan nutrition for new users ------------->
<div class="modal fade" id="assingOldUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Planes Nutricionales Generales:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cleanUpNutrition()"></button>
      </div>
      <div class="modal-body">
        
        <div class="centroo">

          <input type="text" class="buscar" placeholder="Buscar">

        </div>


            <div class="row">
              <div class="col-md-12">
                  <div class="table-wrap">
                      <table class="table table-striped">
                      <thead class="thead-primary">
                        <tr>
                            <th>#</th>
                            <th>Plan de Alimentación</th>
                            <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
      
                          <tr *ngFor="let list of listNutrition | paginate: { id: 'plans_olds' , itemsPerPage: 10, currentPage: p }">
        
                                  <td></td>
                                  <td>{{list.nombre_plan}}</td>
                                  
                                    <td class="texto">
                                      <a class="ic" data-bs-toggle="modal" data-bs-target="#requestDateOldUser" (click)="addID_Plan(list.id_plan)" ><img src="https://img.icons8.com/material-rounded/48/000000/insert-page.png" class="icono" width="35px" height="35px"/></a>
                                  </td>
                          </tr>
      
                      </tbody>
                    </table>
      
                  <pagination-controls id="plans_olds" (pageChange)="handlePageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      
                  </div>
              </div>
          </div>
    

      </div>

    </div>
  </div>
</div>










<!--------------- Modal request Date ---------------->
<div class="modal fade" id="requestDate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos para la asignación del plan de alimentación:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cleanUpNutrition()"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label for="" class="form-label">Plan de Alimentación: </label>
          <input type="text" class="form-control" readonly name="" id="" aria-describedby="helpId" placeholder="" value="{{nameNutrition}}">
        </div>
        
        <form [formGroup]="nutritionForm" (ngSubmit)="addPlanNutrition(nutritionForm.value)">

          <div class="mb-3">

            <input type="date" value="2020-11-30" formControlName="fecha_fin" /> 
            <br>
            <small id="helpId" class="form-text text-muted">El tiempo será valido desde la siguiente fecha:  {{fecha_hoy}}</small>

            <script>
              const input = document.querySelector('input');
              input.value = '2020-11-30';
            </script>
  
          </div>
  
          <div class="mb-3">
            <label for="" class="form-label">Objetivo</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Meta a obtener:" formControlName="meta">
          </div>

  
  
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="cleanUpId_Plan()">Regresar</button>
            <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Asignar</button>
          </div>


        </form>

      </div>


    </div>
  </div>
</div>





<!--------------- Modal request Date ---------------->
<div class="modal fade" id="requestDateOldUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos para la asignación del plan de alimentación:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cleanUpNutrition()"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label for="" class="form-label">Plan de Alimentación: </label>
          <input type="text" class="form-control" readonly name="" id="" aria-describedby="helpId" placeholder="" value="{{nameNutrition}}">
        </div>

        <form [formGroup]="nutritionForm" (ngSubmit)="addPlanNutrition_OldUser(nutritionForm.value)">

          <div class="mb-3">

            <input type="date" value="2020-11-30" formControlName="fecha_fin" /> 
            <br>
            <small id="helpId" class="form-text text-muted">El tiempo será valido desde la siguiente fecha:  {{fecha_hoy}}</small>

            <script>
              const input = document.querySelector('input');
              input.value = '2020-11-30';
            </script>
  
          </div>
  
          <div class="mb-3">
            <label for="" class="form-label">Objetivo a obtener:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Objetivo" formControlName="meta">
          </div>

  
  
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#assingOldUser" (click)="cleanUpId_Plan()">Regresar</button>
            <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Asignar</button>
          </div>


        </form>

      </div>


    </div>
  </div>
</div>









<!-- Modal -->
<div class="modal fade" id="editNutrition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Información del Plan de Alimentación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="updateNutritionDate" (ngSubmit)="updateNutritionUser(updateNutritionDate.value)">

          

          <div *ngFor="let list of listDate">

            <input type="hidden" formControlName="documento_plan" [(ngModel)]="list.documento_plan">

            <div class="mb-3">

              <label for="" class="form-label">Fecha a terminar el plan alimenticio:</label><br>
              <input type="date" [(ngModel)]="listDate_now" formControlName="fecha_fin"/> 
              <br>
              <small id="helpId" class="form-text text-muted">El tiempo será valido desde la siguiente fecha:  {{fecha_hoy}} y solo se puede asignar minimo un mes.</small>


            </div>

            <div class="mb-3">
              <label for="" class="form-label">Objetivo a conseguir:</label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="list.meta" formControlName="meta">
            </div>
  
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
            
            <div *ngIf="tipo_plan == 'Personalizado'; then editar" ></div>

            <ng-template #editar>

              <div class="main_div">
                <button type="button" (click)="updatePlanNutritionPersonalizado()" data-bs-dismiss="modal">Actualizar Plan</button>
              </div>

            </ng-template>


          </div>

        </form>




      </div>

    </div>
  </div>
</div>




  
  <!-- Modal -->
  <div class="modal fade" id="createPlanNutritionPersonal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Plan de Alimentación Personalizado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="createPlanNutrition" (ngSubmit)="createPlanNutritionPersonal(createPlanNutrition.value)">

                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre" formControlName="nombre_plan">
                    <small id="helpId" class="form-text text-muted">El nombre que asigne es el que se mostrará en la lista de los planes de alimentación</small>
                  </div>

                  <div class="mb-3">

                    <label for="" class="form-label">Fecha de finalización del Plan de Alimentación:</label>
                    <input type="date" formControlName="fecha_fin"><br>
                    <small id="helpId" class="form-text text-muted">El tiempo empezará a contar a partir de la fecha:  {{fecha_hoy}}</small>

                  </div>

                  <div class="mb-3">
                    <label for="" class="form-label">Objetivo a conseguir:</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Objetivo" formControlName="meta">
                  </div>
      
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Registar</button>
                  </div>
            </form>

        </div>
 
      </div>
    </div>
  </div>






    <!-- Modal -->
    <div class="modal fade" id="createPlanNutritionPersonalOld" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Plan de Alimentación Personalizado</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
              <form [formGroup]="createPlanNutrition" (ngSubmit)="createPlanNutritionPersonalOld(createPlanNutrition.value)">
  
                    <div class="mb-3">
                      <label for="" class="form-label">Nombre:</label>
                      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre" formControlName="nombre_plan">
                      <small id="helpId" class="form-text text-muted">El nombre que asigne es el que se mostrará en la lista de los planes de alimentación</small>
                    </div>
  
                    <div class="mb-3">
  
                      <label for="" class="form-label">Fecha de finalización del Plan de Alimentación:</label>
                      <input type="date" formControlName="fecha_fin"><br>
                      <small id="helpId" class="form-text text-muted">El tiempo empezará a contar a partir de la fecha: {{fecha_hoy}}</small>
  
                    </div>
  
                    <div class="mb-3">
                      <label for="" class="form-label">Objetivo a conseguir:</label>
                      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Objetivo" formControlName="meta">
                    </div>
        
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Registar</button>
                    </div>
              </form>
  
          </div>
   
        </div>
      </div>
    </div>











