:root{
  --primary-color: black;
  --secondary-color: yellow;
  --highLight-color: white;

  --dt-status-available-color: green;
  --dt-status-offline-color: red;

  --dt-padding: 12px;
  --dt-padding-s: 6px;
  --dt-padding-xs: 2px;

  --dt-border-radius: 3px;
}

.material-icons{
  font-size: 16px;
}

.datetable-container{
  background-color: black;
  border-radius: 3px;
  color: white;
  width: 550px;
  width: 550px;
  margin: 0 auto;
  font-size: 13px;
}

.datetable-container .header-tools{
  border-bottom: solid 1px yellow;
  padding: 12px;
  display: flex;
  align-items: baseline;
}

.datetable-container .header-tools .search{
  width: 30%;
}

.datetable-container .header-tools .search .search-input{
  width: 100%;
  background-color: white;
  display: block;
  box-sizing:  border-box;
  border-radius: 3px;
  border: solid 1px yellow;
  color: white;
}

.datetable-container .header-tools .tools{
    width: 70px;
}

.datetable-container .header-tools .tools ul{
  margin:  0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.datetable-container .header-tools .tools ul li{
  display: inline-block;
  margin: 0 2px;
  align-items: baseline;
}

.datetable-container .footer-tools{
  padding:  12px;
  display: flex;
  align-items: baseline;
}

.datetable-container .footer-tools .list-items{
    width: 50px;
}

.datetable-container .footer-tools .pages{
  margin-left: auto;
  margin-right: 0;
  width: 50%;
}

.datetable-container .footer-tools .pages ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items:  baseline;
  justify-content: flex-end;
}

.datetable-container .footer-tools .pages ul li{
  display: inline-block;
  margin: 0 3px;
}

.datetable-container .footer-tools .pages ul li button
.datetable-container .header-tools .tools ul li button{
  color: yellow;
  width: 100%;
  box-sizing:  border-box;
  border: 0;
  border-radius:  3px;
  background: transparent;
  cursor: pointer;
}

.datetable-container .footer-tools .pages ul li button:hover,
.datetable-container .header-tools .tools ul li button:hover{
  background: yellow;
  color: black;
}

.datetable-container .footer-tools .pages ul li span.active{
  background: green;
  border-radius: 3px;
}

.datetable-container .footer-tools .pages ul li button,
.datetable-container .footer-tools .pages ul li span,
.datetable-container .header-tools .tools ul li button{
  padding: 6px 12px;
}

.datetable-container .datetable-container{
  border-collapse:  collapse;
  width: 100%;
}

.datetable-container .datetable,
.datetable-container .datetable th,
.datetable-container .datetable td{
  padding: 12px 12px;
}

.datetable-container .datetable th{
  font-weight: bolder;
  text-align:  left;
  border-bottom: solid 2 px yellow;
}

.datetable .datetable td{
  border-bottom:  solid 2px yellow;
}

.datetable-container .datetable tbody tr:nth-child(even){
  background-color: white;
  color: black;
}

.datetable-container .datetable tbody tr:hover {
  background-color: aqua;
  color: black;
}






/* Colores para el estado */

.datetable-container .datetable tbody tr .available::after,
.datetable-container .datetable tbody tr .offline::after{
  display: inline-block;
  vertical-align: middle;
}

.datetable-container .datetable tbody tr .available::after{
  content: ' Available';
  color: green;
}

.datetable-container .datetable tbody tr .offline::after{
  content: ' Offline';
  color: red;
}


/*  con esto disque se pone un circulo en el estado pero no funciona :v  */

.datetable-container .datetable tbody tr .available::before,
.datetable-container .datetable tbody tr .offline::before{
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10xp;
  border-radius:  50%;
  vertical-align: middle;
}

.datetable-container .datetable tbody tr .available::before{
  background: green;
}

.datetable-container .datetable tbody tr .offline::before{
  background: red;
}






*{
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

h2 {
  font-size: 20px;
  color: #fff; }

.custom-table {
  max-width: 900px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 650px){
  .custom-table {
      max-width: 200px;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
  }
}
  .custom-table thead tr, .custom-table thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  .custom-table tbody th, .custom-table tbody td {
    color: rgb(248, 245, 245);
    font-weight: 200px;
    padding-bottom: 20px;
    padding-top: 10px;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }

    .custom-table tbody th a, .custom-table tbody td a {
      color: white;
    }
    .custom-table tbody th .more, .custom-table tbody td .more {
      color: white;
      font-size: 15px;
      font-weight: 900px;
      text-transform: uppercase;
      letter-spacing: .2rem;
    }
  .custom-table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
   }
    .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
      color: rgb(248, 224, 7);
    }
      .custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
        color: rgb(248, 224, 7);
      }

  .custom-table .box {
    background: #fff;
    border-radius: 4px;
    margin-top: -5px;
    margin-bottom: 15px;
  }
    .custom-table .box td, .custom-table .box th {
      border: none !important;}
.b{
  margin-left: 12px;
}
.custom-table tbody tr .Activo::after,
.custom-table tbody tr .Inactivo::after{
display: inline-block;
vertical-align: middle;
}

.custom-table tbody tr .Activo::after{
content: ' Activo';
color: green;
font-size: 15px;
}

.custom-table tbody tr .Inactivo::after{
content: ' Inactivo';
color: red;
font-size: 15px;
}


/*  con esto disque se pone un circulo en el estado pero no funciona :v  */

.custom-table tbody tr .Activo::before,
.custom-table tbody tr .Inactivo::before{
content: '';
display: inline-block;
width: 10px;
height: 10px;
margin-right: 10xp;
border-radius:  50%;
vertical-align: middle;
}

.custom-table tbody tr .Activo::before{
background: green;
}

.custom-table tbody tr .Inactivo::before{
background: red;
}

.btn-agregar{

  margin-top: 4px;

  margin-left: 19px;

}



.btn-agregar img{

  width: 35px;

  height: 35px;

  margin-left: 275px;

  margin-top: -110px;

}

.btn-agregar img:hover{

  background-color: #ffd208;

  border-radius: 12px;

}

.btn-eliminar img{

  width: 30px;

  height: 30px;

}

.btn-eliminar img:hover{

  background-color: #691e0b;

  border-radius: 12px;

}

.btn img:hover{

  background-color: #ffc404;

  border-radius: 12px;

}

.btn-update img{
  width: 30px;
height: 30px;
}

.btn-update img:hover{

  background-color: white;

  border-radius: 12px;

}

.centro{

  max-width: 2000px;

  margin-left: 12px;

  }



  .centro .titulo{
    padding-top: 0.5rem;
    padding-left:40px;
     font-size: 40px;
    }

    .centro .buscar{
    margin-left: 300px;
    padding-top: -100px;
    width: 40%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    }
    .centro .buscar::placeholder {
    color: #9e9ea7;
    }

    .cento .buscar:focus,.centro .buscar:hover {
    outline: none;
    border-color: rgba(253, 249, 3, 0.993);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(252, 248, 2, 0.452);
    }

    @media(max-width:630px){
    .centro .buscar{
    width: 40%;
    height: 40px;
    line-height: 28px;
     padding: 0 1rem;
    padding-left: 1.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    }
    .centro .buscar::placeholder {
    color: #9e9ea7;
    }

.centro .buscar:focus,.centro .buscar:hover {

outline: none;

 border-color: rgba(253, 249, 3, 0.993);

  background-color: #fff;

  box-shadow: 0 0 0 4px rgba(252, 248, 2, 0.452);

  }
}
