<div class="slider">
    <ul>
      <li>
          <img src="https://storage.googleapis.com/studio-design-asset-files/projects/7kadNre6O3/s-2400x2255_v-frms_webp_ff7bb143-6287-4d55-9645-38f2683265ef.jpg"></li><!-- imagenes tamaño ideal 1280x720 pixeles-->
      <li>
          <img src="https://storage.googleapis.com/studio-design-asset-files/projects/7kadNre6O3/s-2400x2387_v-frms_webp_418ac78a-1dda-446e-b13c-3a7ad2698ea1.jpg"></li><!-- imagenes tamaño ideal 1280x720 pixeles-->
      <li>
            <img src="https://storage.googleapis.com/studio-design-asset-files/projects/7kadNre6O3/s-2400x2255_v-frms_webp_ff7bb143-6287-4d55-9645-38f2683265ef.jpg"></li><!-- imagenes tamaño ideal 1280x720 pixeles-->
        <li>
            <img src="https://storage.googleapis.com/studio-design-asset-files/projects/7kadNre6O3/s-2400x2387_v-frms_webp_418ac78a-1dda-446e-b13c-3a7ad2698ea1.jpg"></li><!-- imagenes tamaño ideal 1280x720 pixeles-->
  </ul>
  </div> 
