@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Anton&family=Bangers&family=Koulen&family=Permanent+Marker&family=Signika+Negative:wght@700&display=swap');

body{
padding: 25px 0 0 0;
width: 100%;
height: 100vh;
}
.ver2{
  padding: 20px 0 120px 290px ;
  align-items: center;
}

.cabecera{
  background-color: black;
  width: 450px;
  height: 130px;
  border-radius: 12px;
}
.ver{
  height: 130px; 
  overflow: hidden; 
}
.titulo{
  display: flex;
  color: black;
  text-align: center;
  margin-top: -80px;
  padding: 0 0 0 42px;
  font-size: 28px;
}
.titulo2{
  display: flex;
  color:white;
  text-align: center;
  margin-top: -45px;
  padding: 0 0 0 200px;
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
}
.container{
  padding: 20px 0 0 0;
  background: rgba(0, 0, 0, 0.397);
  width: 80%;
  background-color: #ffffff;
  transition: all .2s;
}
.container:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
.form-control {
    font-size: 11px;
    background: white;
    border-radius: 50px;
    width: 100%;
    border:1px solid rgb(0, 0, 0);
    outline: none;
}
.btn{
  color: white;
  text-decoration: none;
}

.btn:hover{
  background: yellow;
  color: black;
}
.card{
  background: black;
  align-items: center;
}
.form-control:hover{
  border:  1px solid yellow;
}
.cat{
  padding: 5px;
  border-radius: 35px;
  border-color:rgb(124,124, 124);
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  cursor: pointer;
}

.cat:hover{
  transition: 2s;
  background:linear-gradient(rgb(124, 124, 124), rgb(124, 124, 124), rgb(124, 124, 124));
  border-color:yellow;
}
.ti{
  align-items: center;
}
.table th{
    text-align: center;
    color: black;
  background-color:transparent;
  width: 300px;
}
.table td{
  background-color: transparent;
  width: 200px;
}
.table th:hover{
  background: rgba(3, 3, 3, 0.336);
  color: #fff;
}

.table
table, th, td {
    border: none;
    border-collapse: collapse;
    border-radius: 3px;
    background: none;
  }
  th, td {
    padding: 5px;
    text-align: left;
    background: transparent;
  }
  .table tr{
    border: none;
  }

.mensaje p{
  color: red; 
  font-size: 15px; 
  padding: 4px 0 0 0;
}
.agregar{
  font-family: 'Akshar', sans-serif;
}
  .centro{
    max-width: 2000px;
  
    margin-left: 12px;
  
    }
  
    .centro .titulo{
      padding:40px 0 0 250px;
      color: white;
       font-size: 40px;
      }


      .learn-more {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
       }
       
       .learn-more {
        width: 12rem;
        height: auto;
       }
       
       .learn-more .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #282936;
        border-radius: 1.625rem;
       }
       
       .learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
       }
       
      .learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
       }
       
       .learn-more .circle .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid rgb(255, 238, 2);
        border-right: 0.125rem solid rgb(255, 238, 0);
        transform: rotate(45deg);
       }
       
       .learn-more .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #020202;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
       }
       
       .learn-more:hover .circle {
        width: 100%;
       }
       
       .learn-more:hover .circle .icon.arrow {
        background: rgb(255, 251, 0);
        transform: translate(1rem, 0);
       }
       
       .learn-more:hover .button-text {
        color: rgb(251, 255, 1);
       }
  
       .fin {
        width: 140px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        background: rgb(255, 238, 0);
        border: none;
        border-radius: 20px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
      
       }
       
       .fin, .fin  span {
        transition: 200ms;
       }
       
       .fin  .text {
        transform: translateX(35px);
        color: rgb(0, 0, 0);
        font-weight: bold;
       }
       
       .fin  .icon {
        position: absolute;
        border-left: 1px solid #ffee00;
        transform: translateX(110px);
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       
       .fin svg {
        width: 20px;
        fill: rgb(0, 0, 0);
       }
       
       .fin:hover {
        background: #000000;
       }
       
       .fin:hover .text {
        color: transparent;
       }
       
       .fin:hover .icon {
        width: 130px;
        border-left: none;
        color: white;
        transform: translateX(0);
       }
       
       .fin:focus {
        outline: none;
       }
       
       .fin:active .icon svg {
        transform: scale(0.8);
       }  
             
  .cancelar {
    width: 140px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .cancelar, .cancelar  span {
    transition: 200ms;
   }
   
   .cancelar  .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .cancelar  .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .cancelar  svg {
    width: 15px;
    fill: #eee;
   }
   
   .cancelar:hover {
    background: #ff3636;
   }
   
   .cancelar:hover .text {
    color: transparent;
   }
   
   .cancelar:hover .icon {
    width: 130px;
    border-left: none;
    transform: translateX(0);
   }
   
   .cancelar:focus {
    outline: none;
   }
   
   .cancelar:active .icon svg {
    transform: scale(0.8);
   }    
   
   .contcan{
    padding: 15px 0 12px 450px;
   }
   .contenedor{
    margin-top: -62px;
    padding: 0 0 30px 600px;
   }
       .texto{
        padding: 20px;
      }

      @media(max-width:1025px){
        .ver2{
          padding: 20px 0 120px 200px ;
          align-items: center;
        }
      }

      @media(max-width:1009px){
        .agregar{
          font-family: 'Akshar', sans-serif;
          padding: 0 0 0 60px;
        }
        .ica{
          display: flex;
          margin-top: -45px;
          padding: 0 0 0 120px;
          border-radius:0px !important;
          transition:all 0.5s;
          width:234px;
        }
      }
      @media(max-width:992px){
        .contcan{
          padding: 15px 0 12px 150px;
         }
         .contenedor{
          margin-top: -62px;
          padding: 0 0 30px 300px;
         }
      }
    @media(max-width:988px){
      .centro{
        padding: 0 0 6px 1px;
        margin-left: -100px;
      }
      .mensaje{
        padding: 4px 0 0 60px;
      }
    }
    @media(max-width:912px){
      .ver2{
        padding: 20px 0 120px 150px ;
        align-items: center;
      }
    }
    @media(max-width:843px){
      .ver2{
        padding: 20px 0 120px 100px ;
        align-items: center;
      }
    }
    @media(max-width:784px){
      .ver2{
        padding: 20px 0 120px 75px ;
        align-items: center;
      }
    }
    @media(max-width:702px){
      .ver2{
        padding: 20px 0 120px 50px ;
        align-items: center;
      }
    }
    @media(max-width:664px){
      .ver2{
        padding: 20px 0 120px 38px ;
        align-items: center;
      }
    }
    @media(max-width:651px){
      .ver2{
        padding: 20px 0 120px 50px ;
        align-items: center;
      }
      .cabecera{
        background-color: black;
         width: 350px;
         height: 130px;
         border-radius: 12px;
        }
        .ver{
          height: 130px; 
          overflow: hidden;
        }
        .titulo{
          display: flex;
          color: black;
          text-align: center;
          margin-top: -80px;
          padding: 0 0 0 10px;
          font-size: 23px;
        }
        .titulo2{
          display: flex;
          color:white;
          text-align: center;
          margin-top: -40px;
          padding: 0 0 0 150px;
          font-family: 'Permanent Marker', cursive;
          font-size: 23px;
        }
    }
  @media(max-width:601px){
    .contcan{
      padding: 15px 0 12px 50px;
     }
     .contenedor{
      margin-top: -62px;
      padding: 0 0 30px 200px;
     }
  }
  @media(max-width:543px){
    .ver2{
      padding: 20px 0 120px 40px ;
      align-items: center;
    }
    .cabecera{
      background-color: black;
       width: 300px;
       height: 130px;
       border-radius: 12px;
      }
      .ver{
        height: 130px; 
        overflow: hidden;
      }
      .titulo{
        display: flex;
        color: black;
        text-align: center;
        margin-top: -80px;
        padding: 0 0 0 8px;
        font-size: 20px;
      }
      .titulo2{
        display: flex;
        color:white;
        text-align: center;
        margin-top: -33px;
        padding: 0 0 0 150px;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
      }
  }
  @media(max-width:479px){
    .table {
      width:100%;
  }
  .table-wrap{
    padding: 0 0 0 10px;
  }
  }
  @media(max-width:476px){
    .contcan{
      padding: 15px 12px 12px 50px;
     }
     .contenedor{
      margin-top: -10px;
      padding: 12px 0 30px 55px;
     }
  }
  @media(max-width:470px){
    .contcan{
      padding: 15px 12px 12px 50px;
     }
     .contenedor{
      margin-top: -10px;
      padding: 12px 0 30px 55px;
     }
  }
  @media(max-width:466px){
    .ver2{
      padding: 20px 0 120px 20px ;
      align-items: center;
    }
    .cabecera{
      background-color: black;
       width: 300px;
       height: 130px;
       border-radius: 12px;
      }
      .ver{
        height: 130px; 
        overflow: hidden;
      }
      .titulo{
        display: flex;
        color: black;
        text-align: center;
        margin-top: -80px;
        padding: 0 0 0 8px;
        font-size: 20px;
      }
      .titulo2{
        display: flex;
        color:white;
        text-align: center;
        margin-top: -33px;
        padding: 0 0 0 150px;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
      }
  }
  @media(max-width:457px){
    .agregar{
      font-family: 'Akshar', sans-serif;
      padding: 0 0 0 185px;
    }
    .ica{
      display: flex;
      margin-top: -45px;
      padding: 0 0 0 250px;
      border-radius:0px !important;
      transition:all 0.5s;
      width:234px;
    }
    .table-wrap{
      padding:0 0 0 2px;
      overflow: scroll;
    }
  }
  @media(max-width:414px){
    .ver2{
      padding: 20px 0 120px 20px ;
      align-items: center;
    }
    .cabecera{
      background-color: black;
       width: 285px;
       height: 130px;
       border-radius: 12px;
      }
      .ver{
        height: 130px; 
        overflow: hidden;
      }
      .titulo{
        display: flex;
        color: black;
        text-align: center;
        margin-top: -80px;
        padding: 0 0 0 16px;
        font-size: 20px;
      }
      .titulo2{
        display: flex;
        color:white;
        text-align: center;
        margin-top: -33px;
        padding: 0 0 0 140px;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
      }
  }
  @media(max-width:379px){
    .ver2{
      padding: 20px 0 120px 20px ;
      align-items: center;
    }
    .cabecera{
      background-color: black;
       width: 240px;
       height: 130px;
       border-radius: 12px;
      }
      .ver{
        height: 130px; 
        overflow: hidden;
      }
      .titulo{
        display: flex;
        color: black;
        text-align: center;
        margin-top: -74px;
        padding: 0 0 0 4px;
        font-size: 20px;
      }
      .titulo2{
        display: flex;
        color:white;
        text-align: center;
        margin-top: -33px;
        padding: 0 0 0 110px;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
      }
  }

  @media(max-width:360px){
    .contcan{
      padding: 15px 12px 12px 50px;
     }
     .contenedor{
      margin-top: -10px;
      padding: 12px 0 30px 55px;
     }
     .table-wrap{
      overflow: scroll;
    }
  }