<div class="container">
  <div class="row justify-content-center">
    <div class=" centro">
      <h1 class="titulo">Planes de Entrenamiento</h1>
          <input type="text" class="buscar" placeholder="Buscar"  name="filtro"  [(ngModel)]="clientes" name="clientes">
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="table-wrap">
              <table class="table table-striped">
              <thead class="thead-primary">
                <tr>
                    <th>Documento</th>
                    <th>Usuarios</th>
                    <th>Plan Actual</th>


                      <th></th>
                      <th>Acciones</th>
                      <th></th>
                      <th></th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let Users of listUsers | clientes:clientes | paginate: { id: 'plan', itemsPerPage: 10, currentPage: p } ">
                  <td>{{Users.documento}}</td>
                  <td>
                    {{Users.nombres + " " + Users.primer_apellido + " " + Users.segundo_apellido}}
                  </td>
                  <td>{{Users.nombre_entrenamiento}}</td>

                  <td class="texto">

                    <a class="ic" data-bs-toggle="modal" style="cursor: pointer;" data-bs-target="#exampleModalLong" (click)="getDocument(Users.documento)"><img src="https://img.icons8.com/material-sharp/48/000000/assignment-turned-in.png"class="icono" width="30px" height="30px"/></a>

                </td>

                  <td class="texto">

                    <a class="ic" style="cursor: pointer;" (click)="createRoutinePersonal(Users.documento)"><img src="https://img.icons8.com/ios-glyphs/30/undefined/plus--v1.png" class="icono"/></a>

                </td>

                <td class="texto">

                    <a class="ic" style="cursor: pointer;" (click)="updateRoutine(Users.id_entrenamiento)" ><img src="https://img.icons8.com/ios-glyphs/30/undefined/edit--v1.png" class="icono"/></a>

                </td>

                <td class="texto">

                    <a class="ic" data-bs-toggle="modal" style="cursor: pointer;" data-bs-target="#viewRoutine" (click)="getId_Entrnamiento(Users.id_entrenamiento)"><img src="https://img.icons8.com/ios-glyphs/30/undefined/view-file.png" class="icono"/></a>

                </td>

        </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>

    <pagination-controls id="plan" (pageChange)="handlePageChange($event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>
</div>





<!--------------- Modal for assing routine          ----------------------->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Planes de Entrenamiento Generales</h5>
      <i type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </i>
    </div>
    <div class="modal-body">
      <div class="busco">
        <h4 class="text-center mb-4"><input placeholder="Buscar" type="text" class="busca" required="" [(ngModel)]="routine" name="routine"> </h4>
      </div>
      <table class="table t2 table-striped">
        <thead class="thead-primary">
          <tr>
            <th>Planes</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>


          <tr *ngFor="let routine of listRoutines | routine:routine | paginate: { id: 'entrenamiento', itemsPerPage: 10, currentPage: page } ">
            <td scope="row" class="scope texto" >{{routine.nombre_entrenamiento}}</td>
            <td ><button type="button" class="btn btn-warning" (click)="assingRoutine(routine.id_entrenamiento)">Asignar</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    <pagination-controls id="entrenamiento" (pageChange)="changuePage($event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>







<!--------------- Modal for view routine          ----------------------->
<div class="modal fade" id="viewRoutine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Plan de Entrenamiento</h5>
        <i type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </i>
      </div>
      <div class="modal-body">

        <div>
        <label for="dias" class="form-label s text-center">Día de la semana:</label>
        <select  name="dias"  class="dias" id="dias" [(ngModel)]="dias_entre" (ngModelChange)="changueDay($event)">
            <option selected value="0">Seleccione</option>
            <option *ngFor="let days of listDays" value="{{days.id_dias}}">{{days.nombre_dias}}</option>
        </select>
        </div>

        <div>
          <label for="dias" class="form-label s text-center">Repeticiones: {{this.repeticiones}}</label>
          </div>

          <div>
            <label for="dias" class="form-label s text-center">Series: {{this.series}}</label>
            </div>


        <table class="table t2 table-striped">
          <thead class="thead-primary">
            <tr>
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Sub-Categoria</th>
              <th>T. Ejecución</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let one of oneRoutine | paginate: { id: 'view', itemsPerPage: 10, currentPage: pagina }">
              <td scope="row" class="scope texto" >{{one.nombre_ejercicios}}</td>
              <td scope="row" class="scope texto" >{{one.nombre_categoria}}</td>
              <td scope="row" class="scope texto" >{{one.nombre_sub}}</td>
              <td scope="row" class="scope texto" >{{one.nombre_ejecucion}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <pagination-controls id="view" (pageChange)="changuePagina($event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>


