body{
    overflow-x: hidden;
  }
  .d-flex{
    height: 100%;
    background-color:black;
    width: 234px;
    position: fixed;
  }
  
  .nav-link{
    border-radius:0px !important;
    transition:all 0.5s;
    width:234px;
    flex-direction:column;
  }
  .imag{
    padding: 60px 0 12px 65px;
  }
   .imag .img{
    width:90px;
    height:90px;
   }
  .content{
    margin-top: -3.0rem; 
    margin-left: 175px;
  }
  .content .navbar{
    width: 1200px
  }
  .container-content{
    margin-left: 12.1px;
    margin-top: -1.3rem; 
    width: 100%;
  }
  small{
    color: white;

  }
  i{
    color: white;
  }
  .nav-link small{
    font-size:15px;
  }
  .nav-link:hover{
    background-color: #fbff04e1 !important;
  }
  .nav-link .fa{
    padding: 0 12px 0 12px;
    transition: all 1s;
    font-size:14px
  }
  .nav-link:hover .fa{
    transform: rotate(360deg)
  }
  
  .footer{
    color: white;
    font-size: 12px;
  }
  @media(max-width:1137px){
    .content .navbar{
      width:1000px
    }
  }
  @media(max-width:1063px){
    .content .navbar{
      width:900px
    }
  }
  @media(max-width:958px){
    .content .navbar{
      width:800px
    }
  }
  @media(max-width:890px){
    .nav-link .texto{
      font-size:5px;
    }
    .texto{
      visibility: hidden;
    }
    .imag{
      padding: 20px 0 12px 30px;
    }
    .imag .img{
      width:60px;
      height:60px;
     }
    .d-flex{
      height: 100%;
      background-color:black;
      width: 120px;
      position: fixed;
    }
    .nav-link{
      border-radius:0px !important;
      transition:all 0.5s;
      width:116px;
      display: flex;
      flex-direction:column
    }
    .nav-link .fa{
      transition: all 1s;
      font-size:23px
    }
    .content .navbar{
      width: 735px
    }
    .content{
      margin-top: -3.0rem; 
      margin-left: 102px;
    }
    .container-content{
      margin-left: -230px;
      margin-top: -1.3rem; 
      width: 1200px;
    }
  }
  @media(max-width:853px){
    .content .navbar{
      width:705px
    }
  }
  @media(max-width:812px){
    .content .navbar{
      width:690px
    }
  }
  @media(max-width:797px){
    .content .navbar{
      width:650px
    }
  }
  @media(max-width:763px){
    .content .navbar{
      width:650px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 120px;
    }
  }
  @media(max-width:753px){
    .content .navbar{
      width:605px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 126px;
    }
  }
  @media(max-width:715px){
    .content .navbar{
      width:566px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 125px;
    }
  }
  @media(max-width:664px){
    .content .navbar{
      width:514px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 126px;
    }
  }
  @media(max-width:613px){
    .content .navbar{
      width:470px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 126px;
    }
  }
  @media(max-width:593px){
    small{
      visibility: hidden;
    }
    .d-flex{
      height: 100%;
      background-color:black;
      width: 130px;
      position: fixed;
    }
    .nav-link{
      border-radius:0px !important;
      transition:all 0.5s;
      width:150px;
      display: flex;
      flex-direction:column
    }
  }
  @media(max-width:569px){
    .content .navbar{
      width:470px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 126px;
    }
  }
  @media(max-width:566px){
    .content .navbar{
      width:416px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 126px;
    }
    .nav-link{
      border-radius:0px !important;
      transition:all 0.5s;
      width:150px;
      display: flex;
      flex-direction:column
    }
  }
  @media(max-width:517px){
    .content .navbar{
      width:367px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 126px;
    }
  }
  @media(max-width:468px){
    .content .navbar{
      width:320px
    }
    .content{
      margin-top: -2.0rem; 
      margin-left: 126px;
    }
  }

  @media(max-width:375px){
    .d-flex{
      height: 100%;
      background-color:black;
      width: 110px;
      position: fixed;
    }

  }