
.heading-section {
  font-size: 28px;
  color: #000;
  display: flex;
  padding:  0 0 0 10px;

  }

  .container{
      padding-top: 50px;
  }

  .table tr:hover{
      background: rgba(3, 3, 3, 0.336);
      color: #fff;
    }

    .table thead{
      background-color:rgb(248, 233, 14);
    }
    .table tbody{
      background-color: rgb(253, 253, 253);
    }
  .texto{
    padding: 40px;
  }

  .edit:hover{
      background-color: yellow;
      border-radius: 12px;
  }

  .agregar {
      padding: 0.8em 1.8em;
      border: 2px solid #fbff05;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      transition: .3s;
      z-index: 1;
      font-family: inherit;
      color: #070707;
     }

     .agregar::before{
      content: '';
      width: 0;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: #f9fd01;
      transition: .5s ease;
      display: block;
      z-index: -1;
     }

     .agregar:hover::before {
      width: 105%;
     }

     .agregar:hover {
      color: #111;
     }

     .busco{
        padding: 0 0 0 850px;
     }
     .buscar {
      line-height: 28px;
      border: 2px solid transparent;
      border-bottom-color: rgb(0, 0, 0);
      padding: .2rem 0;
      outline: none;
      background-color: transparent;
      color: #0d0c22;
      transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
     }

     .buscar:focus, .buscar:hover {
      outline: none;
      padding: .2rem 1rem;
      border-radius: 1rem;
      border-color: #fffb04;
     }

     .buscar::placeholder {
      color: rgb(0, 0, 0);
     }

     .buscar:focus::placeholder {
      opacity: 0;
      transition: opacity .3s;
     }

     .form-control {
      font-size: 11px;
      background: white;
      border-radius: 50px;
      width: 100%;
      border:1px solid rgb(251, 255, 0);
      outline: none;
  }

  .form-control:hover{
    box-shadow: #fbff01;
  }
     .inputfile {
      font-size: 11px;
      background: white;
      border-radius: 50px;
      box-shadow:  5px 5px 10px rgb(131, 131, 131);
      width: 100%;
      outline: none;
  }

  ::-webkit-file-upload-button{
      color: rgb(0, 0, 0);
      background: #fbff02;
      padding: 10px;
      border: none;
      border-radius:50px;
      box-shadow: 1px 0 1px 1px #fbff01;
      outline: none;
  }
  .s{
    padding: 0 5px 0 20px;
  }
  .categoria, .subcategoria{
    padding: 5px;
    border-radius: 50px;
    border-color: #f9fd01;
    background-color: rgb(250, 234, 4);
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;

  }

  .imagen{
    width:100px;
    height:100px;
    object-fit: cover;
  }

  #descripcion{
    height: 600px;
    width: 100%;
  }
  @media(max-width:1208px){
    .busco{
      padding: 0 0 0 550px;
   }
  }
  @media (max-width:1042px){
    .busco{
      padding: 0 0 0 650px;
   }
  }
  @media (max-width:994px){
    .busco{
      padding: 0 0 0 250px;
   }
  }
  @media(max-width:768px){
    .imagen{
      width:60px;
      height:60px;
      object-fit: cover;
    }
  }
  @media(max-width:745px){
    table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
  }
  @media(max-width:428px){
    .busco{
      padding: 0 0 0 50px;
   }

   .heading-section {
    font-size: 15px;
    color: #000;
    display: flex;
    padding:  0 0 0 10px;

    }

  }
    @media(max-width:326px){

      h1{
        font-size: 20px;
      }

      .table thead, tbody{
        font-size: 12px;
      }


    }

    @media(max-width:276px){

      h1{
        font-size: 10px;
      }

      .table thead, tbody{
        font-size: 9px;
      }

    }
