<div class="container">
    <div class="row justify-content-center">
      <div class=" centro">
        <h1 class="titulo">CREAR PLAN NUTRICIONAL</h1>
      </div>
    </div>
<div id="accordion">
  <div class="card">
      <div class="card-header" id="headingOne" style="background:transparent;">
        <h5 class="mb-0">
            <button  class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                DESAYUNO
              </button>
        </h5>
      </div>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion" style="background:transparent;">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <div class="demo-button-container">
                        <button mat-raised-button (click)="addData()" class="demo-button">
                            <a class="ic"><img class="icono" src="https://img.icons8.com/ios-filled/50/000000/plus-2-math.png" width="30"/></a>
                        </button>
                        <button
                            mat-raised-button
                            [disabled]="!dataSource.length"
                            (click)="removeData()"
                            class="demo-button">
                            <a class="ic"><img class="icono" src="https://img.icons8.com/glyph-neue/64/000000/delete-forever.png" width="30"/></a>
                        </button>
                      </div>
                      
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                        
                        <form [formGroup]="formCreateBreakfast" (ngSubmit)="createAliment(formCreateBreakfast.value)">

                                <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef>Tipo de Alimento</th>
                                <td mat-cell *matCellDef="let element">
                                <select  name="categoria"  class="categoria" id="categoria" (change)="changueAlimento($event)">

                                <option value="0">Seleccione</option>
                                <option *ngFor="let list of listAlimento"  value="{{list.id_alimento}}" > {{list.nombre_alimento}} </option>

                                </select> </td>
                            </ng-container>
                            
                            <!-- Name Column -->
                            <ng-container matColumnDef="name" >
                                <th mat-header-cell *matHeaderCellDef>Ingredientes</th>
                                <td mat-cell *matCellDef="let element"><select  name="categoria"  class="categoria" id="categoria" formControlName="id_ingrediente_nutri" >
                                <option selected> seleccione una</option>
                                <option *ngFor="let list of listIngredientes" value="{{list.id_ingrediente}}"> {{list.nombre_ingrediente}} </option>
                            </select></td>
                            </ng-container>
                            
                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                                <td mat-cell *matCellDef="let element"><input type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Cantidad de Alimento" formControlName="cantidad"></td>
                            </ng-container>
                            
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef>Intercambios</th>
                                <td mat-cell *matCellDef="let element"><textarea type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Intercambios de Alimento" formControlName="intercambio"></textarea></td>
                            </ng-container>
    
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Acción</th>
                                <td mat-cell *matCellDef="let element"> <button type="submit" (click)="createAliment(formCreateBreakfast.value)"> Cargar </button>  </td>
                            </ng-container>


                          </form>                     



                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                       

                      </table>
                    <table class="table ">
                      <tr>
                        <th></th>
                        <td><button class="learn-more" (click)="saveBreakfast()">
                          <span class="circle" aria-hidden="true">
                          <span class="icon arrow"></span>
                          </span>
                          <span class="button-text">Guardar</span>
                        </button></td>
                      </tr>
                  </table>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            NUEVES
          </button>
        </h5>
      </div>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <div class="demo-button-container">
                            <button mat-raised-button (click)="addData()" class="demo-button">
                                <a class="ic"><img class="icono" src="https://img.icons8.com/ios-filled/50/000000/plus-2-math.png" width="30"/></a>
                            </button>
                            <button
                                mat-raised-button
                                [disabled]="!dataSource.length"
                                (click)="removeData()"
                                class="demo-button">
                                <a class="ic"><img class="icono" src="https://img.icons8.com/glyph-neue/64/000000/delete-forever.png" width="30"/></a>
                            </button>
                          </div>
                          
                          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                            <form [formGroup]="formCreateNueves" (ngSubmit)="createAliment(formCreateNueves.value)">

                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                  <th mat-header-cell *matHeaderCellDef>Tipo de Alimento</th>
                                  <td mat-cell *matCellDef="let element">
                                  <select  name="categoria"  class="categoria" id="categoria" (change)="changueAlimento($event)">
  
                                  <option value="0">Seleccione</option>
                                  <option *ngFor="let list of listAlimento"  value="{{list.id_alimento}}" > {{list.nombre_alimento}} </option>
  
                                  </select> </td>
                              </ng-container>
                              
                              <!-- Name Column -->
                              <ng-container matColumnDef="name" >
                                  <th mat-header-cell *matHeaderCellDef>Ingredientes</th>
                                  <td mat-cell *matCellDef="let element"><select  name="categoria"  class="categoria" id="categoria" formControlName="id_ingrediente_nutri" >
                                  <option selected> seleccione una</option>
                                  <option *ngFor="let list of listIngredientes" value="{{list.id_ingrediente}}"> {{list.nombre_ingrediente}} </option>
                              </select></td>
                              </ng-container>
                              
                              <!-- Weight Column -->
                              <ng-container matColumnDef="weight">
                                  <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                                  <td mat-cell *matCellDef="let element"><input type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Cantidad de Alimento" formControlName="cantidad"></td>
                              </ng-container>
                              
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="symbol">
                                  <th mat-header-cell *matHeaderCellDef>Intercambios</th>
                                  <td mat-cell *matCellDef="let element"><textarea type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Intercambios de Alimento" formControlName="intercambio"></textarea></td>
                              </ng-container>

                              <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Acción</th>
                                <td mat-cell *matCellDef="let element"> <button type="submit" (click)="createAliment(formCreateNueves.value)"> Cargar </button>  </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            </form>
                          

                          </table>
                        <table class="table ">
                          <tr>
                            <th></th>
                            <td><button class="learn-more" (click)="saveNueves()">
                              <span class="circle" aria-hidden="true" >
                              <span class="icon arrow"></span>
                              </span>
                              <span class="button-text">Guardar</span>
                            </button></td>
                          </tr>
                      </table>
                </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-yellow collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ALMUERZO
          </button>
        </h5>
      </div>
    </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
        <div class="row">
          <div class="col-md-12">
                <div class="table-wrap">
                    <div class="demo-button-container">
                        <button mat-raised-button (click)="addData()" class="demo-button">
                            <a class="ic"><img class="icono" src="https://img.icons8.com/ios-filled/50/000000/plus-2-math.png" width="30"/></a>
                        </button>
                        <button
                            mat-raised-button
                            [disabled]="!dataSource.length"
                            (click)="removeData()"
                            class="demo-button">
                            <a class="ic"><img class="icono" src="https://img.icons8.com/glyph-neue/64/000000/delete-forever.png" width="30"/></a>
                        </button>
                      </div>
                      
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                        <!-- Position Column -->
                        <form [formGroup]="formCreateLunch" (ngSubmit)="createAliment(formCreateLunch.value)">

                          <!-- Position Column -->
                          <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>Tipo de Alimento</th>
                            <td mat-cell *matCellDef="let element">
                            <select  name="categoria"  class="categoria" id="categoria" (change)="changueAlimento($event)">

                            <option value="0">Seleccione</option>
                            <option *ngFor="let list of listAlimento"  value="{{list.id_alimento}}" > {{list.nombre_alimento}} </option>

                            </select> </td>
                        </ng-container>
                        
                        <!-- Name Column -->
                        <ng-container matColumnDef="name" >
                            <th mat-header-cell *matHeaderCellDef>Ingredientes</th>
                            <td mat-cell *matCellDef="let element"><select  name="categoria"  class="categoria" id="categoria" formControlName="id_ingrediente_nutri" >
                            <option selected> seleccione una</option>
                            <option *ngFor="let list of listIngredientes" value="{{list.id_ingrediente}}"> {{list.nombre_ingrediente}} </option>
                        </select></td>
                        </ng-container>
                        
                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                            <td mat-cell *matCellDef="let element"><input type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Cantidad de Alimento" formControlName="cantidad"></td>
                        </ng-container>
                        
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef>Intercambios</th>
                            <td mat-cell *matCellDef="let element"><textarea type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Intercambios de Alimento" formControlName="intercambio"></textarea></td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef>Acción</th>
                          <td mat-cell *matCellDef="let element"> <button type="submit" (click)="createAliment(formCreateLunch.value)"> Cargar </button>  </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                      </form>

                      </table>



                    <table class="table ">
                      <tr>
                        <th></th>
                        <td><button class="learn-more" (click)="saveLunch()">
                          <span class="circle" aria-hidden="true">
                          <span class="icon arrow"></span>
                          </span>
                          <span class="button-text">Guardar</span>
                        </button></td>
                      </tr>
                  </table>
            </div>
  </div>
</div>
      </div>
<div class="card">
  <div class="card-header" id="headingfour">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
        ONCES
      </button>
    </h5>
  </div>
</div>
  <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-bs-parent="#accordion">
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
            <div class="demo-button-container">
                <button mat-raised-button (click)="addData()" class="demo-button">
                    <a class="ic"><img class="icono" src="https://img.icons8.com/ios-filled/50/000000/plus-2-math.png" width="30"/></a>
                </button>
                <button
                    mat-raised-button
                    [disabled]="!dataSource.length"
                    (click)="removeData()"
                    class="demo-button">
                    <a class="ic"><img class="icono" src="https://img.icons8.com/glyph-neue/64/000000/delete-forever.png" width="30"/></a>
                </button>
              </div>
              
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                       <form [formGroup]="formCreateOnces" (ngSubmit)="createAliment(formCreateOnces.value)">

                          <!-- Position Column -->
                          <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>Tipo de Alimento</th>
                            <td mat-cell *matCellDef="let element">
                            <select  name="categoria"  class="categoria" id="categoria" (change)="changueAlimento($event)">

                            <option value="0">Seleccione</option>
                            <option *ngFor="let list of listAlimento"  value="{{list.id_alimento}}" > {{list.nombre_alimento}} </option>

                            </select> </td>
                        </ng-container>
                        
                        <!-- Name Column -->
                        <ng-container matColumnDef="name" >
                            <th mat-header-cell *matHeaderCellDef>Ingredientes</th>
                            <td mat-cell *matCellDef="let element"><select  name="categoria"  class="categoria" id="categoria" formControlName="id_ingrediente_nutri" >
                            <option selected> seleccione una</option>
                            <option *ngFor="let list of listIngredientes" value="{{list.id_ingrediente}}"> {{list.nombre_ingrediente}} </option>
                        </select></td>
                        </ng-container>
                        
                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                            <td mat-cell *matCellDef="let element"><input type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Cantidad de Alimento" formControlName="cantidad"></td>
                        </ng-container>
                        
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef>Intercambios</th>
                            <td mat-cell *matCellDef="let element"><textarea type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Intercambios de Alimento" formControlName="intercambio"></textarea></td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef>Acción</th>
                          <td mat-cell *matCellDef="let element"> <button type="submit" (click)="createAliment(formCreateOnces.value)"> Cargar </button>  </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                      </form>

              </table>
            <table class="table ">
              <tr>
                <th></th>
                <td><button class="learn-more" (click)="saveOnces()">
                  <span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Guardar</span>
                </button></td>
              </tr>
          </table>
    </div>
</div>
</div>
  </div>
  <div class="card">
    <div class="card-header" id="headingfive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
          CENA
        </button>
      </h5>
    </div>
  </div>
    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-bs-parent="#accordion">
      <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <div class="demo-button-container">
                    <button mat-raised-button (click)="addData()" class="demo-button">
                        <a class="ic"><img class="icono" src="https://img.icons8.com/ios-filled/50/000000/plus-2-math.png" width="30"/></a>
                    </button>
                    <button
                        mat-raised-button
                        [disabled]="!dataSource.length"
                        (click)="removeData()"
                        class="demo-button">
                        <a class="ic"><img class="icono" src="https://img.icons8.com/glyph-neue/64/000000/delete-forever.png" width="30"/></a>
                    </button>
                  </div>
                  
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                    <form [formGroup]="formCreateDinner" (ngSubmit)="createAliment(formCreateDinner.value)">

                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>Tipo de Alimento</th>
                        <td mat-cell *matCellDef="let element">
                        <select  name="categoria"  class="categoria" id="categoria" (change)="changueAlimento($event)">

                        <option value="0">Seleccione</option>
                        <option *ngFor="let list of listAlimento"  value="{{list.id_alimento}}" > {{list.nombre_alimento}} </option>

                        </select> </td>
                    </ng-container>
                    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name" >
                        <th mat-header-cell *matHeaderCellDef>Ingredientes</th>
                        <td mat-cell *matCellDef="let element"><select  name="categoria"  class="categoria" id="categoria" formControlName="id_ingrediente_nutri" >
                        <option selected> seleccione una</option>
                        <option *ngFor="let list of listIngredientes" value="{{list.id_ingrediente}}"> {{list.nombre_ingrediente}} </option>
                    </select></td>
                    </ng-container>
                    
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                        <td mat-cell *matCellDef="let element"><input type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Cantidad de Alimento" formControlName="cantidad"></td>
                    </ng-container>
                    
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef>Intercambios</th>
                        <td mat-cell *matCellDef="let element"><textarea type="text" class="form-control align-items-center" required="required" name="titulo" placeholder="Intercambios de Alimento" formControlName="intercambio"></textarea></td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>Acción</th>
                      <td mat-cell *matCellDef="let element"> <button type="submit" (click)="createAliment(formCreateDinner.value)"> Cargar </button>  </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </form>
                  </table>
                <table class="table ">
                  <tr>
                    <th></th>
                    <td><button class="learn-more" (click)="saveDinner()">
                      <span class="circle" aria-hidden="true">
                      <span class="icon arrow"></span>
                      </span>
                      <span class="button-text">Guardar</span>
                    </button></td>
                  </tr>
              </table>
        </div>
  </div>
  </div>
    </div>
</div>
  <div class="contcan"><button class="cancelar" (click)="cancellProcess()">
    <span class="text">Cancelar</span>
    <span class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
</svg></span>
</button></div>
  <div class="contenedor">
    <button class="fin" (click)="finishRegistered()">
      <span class="text">Finalizar</span>
      <span class="icon">
        <svg height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </span>
  </button>
</div>
</div>
