@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Koulen&family=Permanent+Marker&family=Signika+Negative:wght@700&display=swap');

body{
    overflow-x: hidden;
}

.calendario .titulo{

    text-align: center;
    color: yellow;
    font-family: 'Permanent Marker', cursive;

}
.calendario .input {
    margin-left: 40px;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: rgb(0, 0, 0);
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }

  .calendario .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #f8f402;
   }

   .calendario .input::placeholder {
    color: #777;
   }

   .calendario .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }

.buscar {
    margin-left: 970px;
    margin-top: -40px;
    font-family: inherit;
    font-size: 20px;
    background: rgb(248, 252, 3);
    color: white;
    padding: 0.5em 0.7em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }

   .buscar span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }

   .buscar svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }

   .buscar:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }

   .buscar:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }

   .buscar:hover span {
    transform: translateX(5em);
   }

   .buscar:active {
    transform: scale(0.95);
   }

   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }

    to {
     transform: translateY(-0.1em);
    }
   }

.promedio {
    margin-left: 550px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }

   .promedio {
    width: 12rem;
    height: auto;
   }

   .promedio .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }

   .promedio .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }

   .promedio .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }

   .promedio .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }

   .promedio .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }

   .promedio:hover .circle {
    width: 100%;
   }

   .promedio:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }

   .promedio:hover .button-text {
    color: #fff;
   }

   @media(max-width:1150px) {
    .calendario .input {
        margin-left: 370px;
        margin-top: 20px;
        line-height: 28px;
        border: 2px solid transparent;
        border-bottom-color: rgb(0, 0, 0);
        padding: .2rem 0;
        outline: none;
        background-color: transparent;
        color: #0d0c22;
        transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
       }
    .buscar {
        margin-left: 580px;
        margin-top: -42px;
        font-family: inherit;
        font-size: 20px;
        background: rgb(248, 252, 3);
        color: white;
        padding: 0.5em 0.7em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
       }
       .promedio {
        margin-left: 250px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
       }
}
@media(max-width:850px) {
    .calendario .input {
        margin-left: 270px;
        margin-top: 20px;
        line-height: 28px;
        border: 2px solid transparent;
        border-bottom-color: rgb(0, 0, 0);
        padding: .2rem 0;
        outline: none;
        background-color: transparent;
        color: #0d0c22;
        transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
       }
    .buscar {
        margin-left: 480px;
        margin-top: -42px;
        font-family: inherit;
        font-size: 20px;
        background: rgb(248, 252, 3);
        color: white;
        padding: 0.5em 0.7em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
       }
       .promedio {
        margin-left: 250px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
       }
}

@media(max-width:610px) {
    .calendario .input {
        margin-left: 170px;
        margin-top: 20px;
        line-height: 28px;
        border: 2px solid transparent;
        border-bottom-color: rgb(0, 0, 0);
        padding: .2rem 0;
        outline: none;
        background-color: transparent;
        color: #0d0c22;
        transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
       }
    .buscar {
        margin-left: 380px;
        margin-top: -42px;
        font-family: inherit;
        font-size: 20px;
        background: rgb(248, 252, 3);
        color: white;
        padding: 0.5em 0.7em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
       }
       .promedio {
        margin-left: 250px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
       }
}
@media(max-width:508px) {
    .calendario .input {
        margin-left: 40px;
        margin-top: 20px;
        line-height: 28px;
        border: 2px solid transparent;
        border-bottom-color: rgb(0, 0, 0);
        padding: .2rem 0;
        outline: none;
        background-color: transparent;
        color: #0d0c22;
        transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
       }
    .buscar {
        margin-left: 70px;
        margin-top: 2px;
        font-family: inherit;
        font-size: 20px;
        background: rgb(248, 252, 3);
        color: white;
        padding: 0.5em 0.7em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
       }
       .promedio {
        margin-left: 50px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
       }
}

.btn-antes :hover, .btn-despues :hover, .btn-hoy :hover{
  background-color: #f8f402;
  width: 40px;
  border-radius: 50px;

}




.container{
  padding-top: 50px;
}

.table tr:hover{
  background: rgba(3, 3, 3, 0.336);
  color: black;
}

.table thead{
  background-color:rgb(248, 233, 14);
}
.table tbody{
  background-color: rgb(253, 253, 253);
}
.buscar-c{
  max-width: 400px;
}
.buscar{
  margin-left: 670px;
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }

 .buscar::placeholder {
  color: #9e9ea7;
 }

 .buscar:focus,.buscar:hover {
  outline: none;
  border-color: rgba(3, 253, 190, 0.993);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(2, 252, 156, 0.452);
 }

 .input-group {
  display: flex;
  align-items: center;
  margin-left: 870px;
}

.buscar-n {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fcf803;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  margin: 3px;
  text-decoration: none;
  min-height: 50px;
  padding: .8em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #fcf801;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #000000;
}

.buscar-n:focus, .buscar-n:focus-visible {
  border-color: #0a0a0a;
  outline: none;
}

@media(max-width:1200px){

  .input-group {
      display: flex;
      align-items: center;
      margin-left: 370px;
    }

}

@media(max-width:730px){

  .input-group {
      display: flex;
      align-items: center;
      margin-left: 170px;
    }

}

