<div class="contenedor" style="padding-top: 4rem;">
  <div class="cabecera">
      <div class=" selectdiv">

        <h1 class="titulo">Plan de Entrenamiento</h1>


          <label for="cat" class="form-label s text-center" style="color: white; padding: 0 3px 0 0;">Tipo de ejecución: </label>
            <select name="cat"  class="cat" id="cat" [(ngModel)]="id_tipo_de_ejecucion" name="id_tipo_de_ejecucion">
              <option value="0" selected>Seleccione</option>
              <option *ngFor="let tip of listTipoEjecucion" value="{{tip.id_ejecucion}}">{{tip.nombre_ejecucion}}</option>
            </select>

          <label for="sub" class="form-label s text-center">Repeticiones: </label>
          <select name="sub" class="sub" id="sub" [(ngModel)]="id_repeticiones" name="id_repeticiones" >
            <option value="0" selected>Seleccione</option>
            <option *ngFor="let rep of listRepetitions" value="{{rep.id_repeticiones}}">{{rep.nombre_repeticion}}</option>
          </select>

          <label for="sub" class="form-label s text-center">Series: </label>
          <select name="sub" class="sub" id="sub" [(ngModel)]="id_series" name="id_series">
            <option value="0" selected>Seleccione</option>
            <option *ngFor="let series of listSeries" value="{{series.id_series}}">{{series.numero_series}}  {{series.nombre_series}}</option>
          </select>

        </div>
  </div>
  <div style="height: 150px; overflow: hidden; " ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(0, 0, 0);"></path></svg></div>

  <div class="row">
    <div class="col bg d-lg-block">
      <div class="mb-4 select">
          <label for="dias" class="form-label s text-center">Día: </label>
            <select  name="id_dia"  class="dias" id="dias" [(ngModel)]="id_dia" (ngModelChange)="changueDay($event)">
                <option selected value="0">Seleccione</option>
                <option *ngFor="let day of listDays" value="{{day.id_dias}}">{{day.nombre_dias}}</option>
            </select>
        </div>


        <div cdkDropListGroup>
          <div class="example-container">
            <h2>Plan de entrenamiento:</h2>

            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" >

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Ejercicio</th>
                      <th scope="col">categoria</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>


                    <tr *ngFor="let list of todo | paginate: { id: 'plan', itemsPerPage: 10, currentPage: pagina }" cdkDrag [cdkDragData]="list.id">
                      <th scope="row">{{list.nombre}}</th>
                      <td>{{list.categoria}}</td>
                      <td>{{list.sub_categoria}}</td>
                    </tr>

                  </tbody>
                </table>




              </div>
              <pagination-controls id="plan" (pageChange)="changuePague($event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>

            </div>
          </div>

          <div class="example-container">
            <h2>Ejercicios:</h2>

            <div class="busco">
              <h4 class="text-center mb-4"><input placeholder="Buscar" type="text" class="buscar" required="" [(ngModel)]="filtro" name="filtro"> </h4>
            </div>

            <div
              cdkDropList
              [cdkDropListData]="done"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" >

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Categoria</th>
                      <th scope="col">Sub-Categoria</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let list of done | assign:filtro | paginate: { id: 'ejercicios', itemsPerPage: 10, currentPage: p }" cdkDrag [cdkDragData]="list.id">
                      <th scope="row">{{list.nombre}}</th>
                      <td scope="row">{{list.categoria}}</td>
                      <td scope="row">{{list.sub_categoria}}</td>
                    </tr>

                  </tbody>
                </table>


            </div>
            <pagination-controls id="ejercicios" (pageChange)="handlePageChange($event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>              </div>
          </div>
        </div>



        <div class="col d-lg-block conbtn">
          <div class="reg">
          <button class="boton" (click)="finishRoutine()">
              Registrar
              <div class="arrow-wrapper">
                  <div class="arrow"></div>
              </div>
          </button>
      </div>
          <button class="cancelar" (click)="cancellRoutine()">
              <span class="text">Cancelar</span>
              <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
      </svg></span>
    </button>
    </div>




</div>
</div>
</div>












