
<div class="vh-100" style="background-color: #f4f5f7; margin-top: -2.5rem;">
  <div class="container py-5 h-100" *ngFor="let user of infoUser">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img data-bs-toggle="modal" data-bs-target="#updateImgPhoto" src="data:image/png;base64,{{arrayBufferToBase64(user.foto_personal.data)}}"
                alt="Avatar" class="img-fluid my-5 rounded-circle" style="width: 95px;" />
              <h5>{{user.nombres}}</h5>
              <h5 style="margin-top: -15px;">{{user.primer_apellido + " " + user.segundo_apellido}}</h5>
              <p>{{user.nombre_rol}}</p>
              <img class="mb-5 edit" data-bs-toggle="modal" data-bs-target="#updateDataProfile" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/undefined/external-edit-interface-kiranshastry-solid-kiranshastry.png" width="25px"/>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Informacion</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                      <h6>Numero de documento:</h6>
                      <p class="text-muted">{{user.documento}}</p>
                    </div>
                  <div class="col-6 mb-3">
                      <h6>Tipo de Documento:</h6>
                      <p class="text-muted">{{user.nombre_tipo_documento}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Correo Electronico:</h6>
                    <p class="text-muted">{{user.correo}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Numero de teléfono:</h6>
                    <p class="text-muted">{{user.numero_telefono}}</p>
                  </div>
                  <div class="col-6 mb-3">
                      <h6>Genero:</h6>
                      <p class="text-muted">{{user.nombre_tipo_genero}}</p>
                    </div>
                </div>
                <h6>Actualizar</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Contraseña</h6>
                    <button data-bs-toggle="modal" data-bs-target="#updatePassword" class="learn-more">
                      <span class="circle" aria-hidden="true">
                      <span class="icon arrow"></span>
                      </span>
                      <span class="button-text">Contraseña</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-------------- Modal Update Img ------------------------>
<div class="modal fade" id="updateImgPhoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Imagen</h5>
        <i type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">

        <div *ngFor="let user of infoUser">

          <h5 class="modal-title" id="exampleModalLabel">Imagen actual:</h5>
          <img src="data:image/png;base64,{{arrayBufferToBase64(user.foto_personal.data)}}" width="300px;" style="margin-left: 80px;" alt="">


          <div class="mb-3">
            <label for="" class="form-label"></label>
            <input type="file" class="form-control" aria-describedby="fileHelpId" (change)="getImg($event)" accept="image/png" >
            <div id="fileHelpId" class="form-text">Solo se permiten imagenes con extención ".png"</div>
          </div>

          <h5 class="modal-title" id="exampleModalLabel">Imagen seleccionada:</h5>
          <img src="{{previewImg}}" width="300px;" style="margin-left: 80px;" alt="">



          <div class="modal-footer">
            <input type="submit" class="btn btn-danger" value="Eliminar" (click)="deleteImgProfile(user.documento)">
            <input type="submit" class="btn btn-warning" value="Actualizar" (click)="sendFile(user.documento)">
          </div>



        </div>

      </div>
    </div>
  </div>
</div>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" >
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="updateDataProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar información</h5>
        <i type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">

        <form [formGroup]="profileForm" (ngSubmit)="updateInfoProfile(profileForm.value)">

          <div class="row" *ngFor="let user of infoUser">

            <div class="col"> <!---------Inicio del lado derecho------------->

              <input type="hidden" [(ngModel)]="user.documento" formControlName="documento">

             <div class="mb-3">
               <label for="" class="form-label">Nombres:</label>
               <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="nombres" [(ngModel)]="user.nombres">
             </div>

             <div class="mb-3">
               <label for="" class="form-label">Primer Apellido:</label>
               <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="primer_apellido" [(ngModel)]="user.primer_apellido">
             </div>

             <div class="mb-3">
               <label for="" class="form-label">Segundo apellido:</label>
               <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="segundo_apellido" [(ngModel)]="user.segundo_apellido">
             </div>


            </div> <!---------Fin del lado derecho-------------->
            <div class="col"><!---------Inicio del lado izquierdo------------>

             <div class="mb-3">
               <label for="" class="form-label">Número de teléfono:</label>
               <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="numero_telefono" [(ngModel)]="user.numero_telefono">
             </div>

             <div class="mb-3">
               <label for="" class="form-label">Correo Electronico:</label>
               <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="" formControlName="correo" [(ngModel)]="user.correo">
             </div>



            </div><!--------Fin del lado izquierdo--------------->

            <div class="modal-footer">
             <input type="submit" class="btn btn-warning" value="Actualizar">
           </div>

           </div>

        </form>



      </div>

    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="updatePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Contraseña</h5>
        <i type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">

        <form [formGroup]="formPassword" (ngSubmit)="updatePassword(formPassword.value)">

          <div *ngFor="let user of infoUser">
            <input type="hidden" [(ngModel)]="user.documento" formControlName="documento">
            <div class="mb-3">
              <label for="" class="form-label">Ingrese nueva Contraseña:</label>
              <input type="password" class="form-control" name="" id="" placeholder="Nueva Contraseña" formControlName="new_password">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Confirme la nueva contraseña:</label>
              <input type="password" class="form-control" name="" id="" placeholder="Confirmar Contraseña" formControlName="confirm_password">
            </div>

            <hr class="mt-0 mb-4 bg-black">

            <div class="mb-3">
              <label for="" class="form-label">Ingrese la contraseña actual:</label>
              <input type="password" class="form-control" name="" id="" placeholder="Contraseña Actual" formControlName="old_password">
            </div>


          </div>

          <div class="modal-footer">
            <input type="submit" class="btn btn-warning" value="Actualizar">
          </div>

        </form>

      </div>


    </div>
  </div>
</div>
