<div class="container">
  <div class="row justify-content-center">
      <div class="col  heading-section">
              <form [formGroup]="formCreateRoutines" (ngSubmit)="createRoutines(formCreateRoutines.value)">
                <label for="titulo" class="form-label ">Inserte Titulo del Plan de Entrenamiento</label>
                <input type="text" class="form-control align-items-center" required="required" formControlName="nombre_entrenamiento" placeholder="Ingrese el nombre del nuevo plan de entrenamiento" >
                <div class="boton">
                  <input type="submit" class="btn" value="Crear">
                  </div>
                </form>
      </div>
  </div>



  <div class="row">
      <div class="col-md-12">
        <div class="busco">
          <h4 class="text-center mb-4"><input placeholder="Buscar" type="text" class="buscar" required="" [(ngModel)]="filtro" name="filtro"> </h4>
        </div>
          <div class="table-wrap">
              <table class="table table-striped">
              <thead class="thead-primary">
                <tr>
                  <th>Planes</th>
                  <th></th>
                  <th></th>
                  <th>Acciones</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let list of listRoutines | routine:filtro | paginate: { id: 'titulo', itemsPerPage: 10, currentPage: p } ">
                  <td scope="row" class="scope texto" >{{list.nombre_entrenamiento}}</td>
                  <td class="texto" ><a data-bs-toggle="modal" (click)="getOneRoutinePlan(list.id_entrenamiento,list.nombre_entrenamiento)" data-bs-target="#exampleModalCenter"><img style="cursor: pointer;" src="https://img.icons8.com/ios-glyphs/30/undefined/view-file.png"/></a></td>

                  <td class="texto" ><a data-bs-toggle="modal" data-bs-target="#updateName" (click)="getOneRoutine(list.id_entrenamiento)"><img style="cursor: pointer;" src="https://img.icons8.com/ios-glyphs/30/undefined/edit--v1.png"/></a></td>
                  <td class="texto"><a><img img style="cursor: pointer;" (click)="deleteTraining(list.id_entrenamiento)" src="https://img.icons8.com/color/48/undefined/synchronize--v1.png" width="40px"/></a></td>
                  <td ><button class="button">
                      <span class="button_lg">
                          <span class="button_sl"></span>
                          <span class="button_text">Ejercicios</span>
                      </span>
                  </button></td>
                </tr>


              </tbody>
            </table>
          </div>

          <pagination-controls id="titulo" (pageChange)="handlePageChange($event)" previousLabel="Prev" nextLabel="Next" ></pagination-controls>

      </div>
  </div>
</div>




<!-- Modal for update routine -->
<div class="modal fade" id="updateName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Información</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formUpdateName" (ngSubmit)="updateName(formUpdateName.value)">
            <div *ngFor="let one of oneRoutine">
              <input type="hidden" [(ngModel)]="one.id_entrenamiento" formControlName="id_entrenamiento">

              <div class="mb-3">
                <label for="" class="form-label">Nombre  del plan de entrenamiento:</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="one.nombre_entrenamiento" formControlName="nombre_entrenamiento">
              </div>

            </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Actualizar</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>



<!------------------   Modal for view Routines   -------------------->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Plan de entrenamiento: {{nombre_entrenamiento}}</h5>
        <i type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </i>
      </div>
      <div class="modal-body">

        <div class="mb-4 select">
          <p style="color: red; font-size: 14px; padding: 4px 0 0 0;"><img src="https://img.icons8.com/tiny-color/16/undefined/experimental-error-tiny-color.png" width="12px"/>Recuerda seleccionar un dia para visualizar los ejercicios asignados<img src="https://img.icons8.com/tiny-color/16/undefined/experimental-error-tiny-color.png" width="12px"/></p>

          <label for="dias" class="form-label s text-center">Día de la semana:</label>
            <select  name="dias"  class="dias" id="dias" [(ngModel)]="dias_entre" (ngModelChange)="changueDay($event)">
                <option selected value="0">Seleccione</option>
                <option *ngFor="let days of listDays" value="{{days.id_dias}}">{{days.nombre_dias}}</option>
            </select>
        </div>

        <div lass="mb-4 select">
          <label for="dias" class="form-label s text-center">Series: {{series}}</label>
        </div>

        <div lass="mb-4 select">
          <label for="dias" class="form-label s text-center">Repeticiones: {{repeticiones}}</label>
        </div>

      <div class="tablaej">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Ejercicio</th>
                  <th scope="col">categoria</th>
                  <th scope="col">Subcategoria</th>
                </tr>
              </thead>
              <tbody>


                <tr *ngFor="let list of listTraining | paginate: { id: 'routines', itemsPerPage: 10, currentPage: page } ">
                  <th scope="row">{{list.nombre_ejercicios}}</th>
                  <td>{{list.nombre_categoria}}</td>
                  <td>{{list.nombre_sub}}</td>
                </tr>

              </tbody>
            </table>
      </div>

      <pagination-controls id="routines" (pageChange)="changuePage($event)" previousLabel="Prev" nextLabel="Next" ></pagination-controls>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


