.heading-section {
  font-size: 28px;
  color: #000;
  display: flex;
  padding:  0 0 0 10px;

  }
  .container{
      padding-top: 50px;
  }

  .table tr:hover{
      background: rgba(3, 3, 3, 0.336);
      color: #fff;
    }

    .table thead{
      background-color:rgb(248, 233, 14);
    }
    .table tbody{
      background-color: rgb(253, 253, 253);
    }
  .texto{
    padding: 20px;
  }

  .edit:hover{
      background-color: yellow;
      border-radius: 12px;
  }
  .boton{
      padding: -120px 12px;
  }
  .btn {
      width: 6.5em;
      height: 2.1em;
      margin: 0.5em;
      background: black;
      color: white;
      border: none;
      border-radius: 0.625em;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      z-index: 1;
      overflow: hidden;
     }
     .btn:hover {
      color: black;
     }

     .btn:after {
      content: "";
      background: rgb(252, 235, 2);
      position: absolute;
      z-index: -1;
      left: -20%;
      right: -20%;
      top: 0;
      bottom: 0;
      transform: skewX(-45deg) scale(0, 1);
      transition: all 0.5s;
     }

     .btn:hover:after {
      transform: skewX(-45deg) scale(1, 1);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
     }
     .busco{
        padding: 0 0 0 850px;
     }
     .buscar {
      line-height: 28px;
      border: 2px solid transparent;
      border-bottom-color: rgb(0, 0, 0);
      padding: .2rem 0;
      outline: none;
      background-color: transparent;
      color: #0d0c22;
      transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
     }

     .buscar:focus, .buscar:hover {
      outline: none;
      padding: .2rem 1rem;
      border-radius: 1rem;
      border-color: #fffb04;
     }

     .buscar::placeholder {
      color: rgb(0, 0, 0);
     }

     .buscar:focus::placeholder {
      opacity: 0;
      transition: opacity .3s;
     }

     .form-control {
      font-size: 11px;
      background: white;
      border-radius: 50px;
      width: 100%;
      border:1px solid rgb(251, 255, 0);
      outline: none;
  }

  .form-control:hover{
    box-shadow: #fbff01;
  }
     .inputfile {
      font-size: 11px;
      background: white;
      border-radius: 50px;
      box-shadow:  5px 5px 10px rgb(131, 131, 131);
      width: 100%;
      outline: none;
  }

  ::-webkit-file-upload-button{
      color: rgb(0, 0, 0);
      background: #fbff02;
      padding: 10px;
      border: none;
      border-radius:50px;
      box-shadow: 1px 0 1px 1px #fbff01;
      outline: none;
  }
  .s{
    padding: 0 5px 0 20px;
  }
  .categoria, .subcategoria{
    padding: 5px;
    border-radius: 50px;
    border-color: #f9fd01;
    background-color: rgb(250, 234, 4);
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;

  }

  .imagen{
    width:100px;
    height:100px;
    object-fit: cover;
  }

  #descripcion{
    height: 600px;
    width: 100%;
  }
  .button {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border: none;
      background: none;
      color: #0f1923;
      cursor: pointer;
      position: relative;
      padding: 8px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      transition: all .15s ease;
    }

    .button::before,
    .button::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      height: calc(50% - 5px);
      border: 1px solid #7D8082;
      transition: all .15s ease;
    }

    .button::before {
      top: 0;
      border-bottom-width: 0;
    }

    .button::after {
      bottom: 0;
      border-top-width: 0;
    }

    .button:active,
    .button:focus {
      outline: none;
    }

    .button:active::before,
    .button:active::after {
      right: 3px;
      left: 3px;
    }

    .button:active::before {
      top: 3px;
    }

    .button:active::after {
      bottom: 3px;
    }

    .button_lg {
      position: relative;
      display: block;
      padding: 10px 20px;
      color: #fff;
      background-color: #0f1923;
      overflow: hidden;
      box-shadow: inset 0px 0px 0px 1px transparent;
    }

    .button_lg::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 2px;
      background-color: #0f1923;
    }

    .button_lg::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 4px;
      height: 4px;
      background-color: #0f1923;
      transition: all .2s ease;
    }

    .button_sl {
      display: block;
      position: absolute;
      top: 0;
      bottom: -1px;
      left: -8px;
      width: 0;
      background-color: #f1f500;
      transform: skew(-15deg);
      transition: all .2s ease;
    }

    .button_text {
      position: relative;
    }

    .button:hover {
      color: #0f1923;
    }

    .button:hover .button_sl {
      width: calc(100% + 15px);
    }

    .button:hover .button_lg::after {
      background-color: #fff;
    }

  @media(max-width:1208px){
    .busco{
      padding: 0 0 0 550px;
   }
  }
  @media (max-width:1042px){
    .busco{
      padding: 0 0 0 650px;
   }
  }
  @media (max-width:994px){
    .busco{
      padding: 0 0 0 250px;
   }
  }
  @media(max-width:768px){
    .imagen{
      width:60px;
      height:60px;
      object-fit: cover;
    }
  }
  @media(max-width:745px){
    table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
  }
  @media(max-width:428px){
    .busco{
      padding: 0 0 0 50px;
   }

   .heading-section {
    font-size: 15px;
    color: #000;
    display: flex;
    padding:  0 0 0 10px;

    }

  }
    @media(max-width:326px){

      h1{
        font-size: 20px;
      }

      .table thead, tbody{
        font-size: 12px;
      }


    }

    @media(max-width:276px){

      h1{
        font-size: 10px;
      }

      .table thead, tbody{
        font-size: 9px;
      }

    }






    .dias{
      padding: 5px;
      border-radius: 35px;
      border-color: #f9fd01;
      background-color: rgb(255, 255, 255);
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      cursor: pointer;
    }

    .dias:hover{
      background:linear-gradient(rgb(255, 251, 2), rgb(255, 251, 2), rgb(255, 251, 2));
      border-color:black;
      color: #000;
    }
