body{
    background: #000000;
    padding: 40px 0 100px 0;
  }
  .login-container {
    border: 0px solid #CCD1D1;
    border-radius: 12px;
    box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
    max-width: 50%;
    background: #FFF;
    z-index: 1;
    position: relative;
  }

.cuarto-circulo {
    position: absolute;
    margin-left: -15px;
    width: 60px;
    border-radius: 12px 0px 0px 0px;
    width: 100px; 
    height: 100px; 
    border: none; 
    background: #f9fd00;
    -moz-border-radius: 0 0 100% 0;
    -webkit-border-radius:  100% 0 0 0;
    border-radius: 0  0 100% 0;
  }

  .welcome_auth {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .auth_welcome a {
    font-weight: 400;
  }
  .auth_welcome {
    font-weight: 100;
    font-size: 1.5em;
    background: -webkit-linear-gradient( 45deg, #000000, #424242);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: black;
    max-width: 170px;
    font-family: 'Permanent Marker', cursive;
  }
  .auth_branding_in {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
  }
  .form-control {
	font-size: 11px;
	background: white;
	border-radius: 50px;
	width: 100%;
	border:1px solid rgb(0, 0, 0);
	outline: none;
}

.form-control:hover{
  box-shadow: #000000;
}

  .login_form_in {
    padding: 4em 1em;
  }
  .login-form h1 {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    color: #969696;
    line-height: 1.5em;
    padding: 1.2em 0px .8em;
  }
  

  @media(max-width:741px){
    .login-container {
        border: 0px solid #CCD1D1;
        border-radius: 12px;
        box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
        max-width: 80%;
        background: #FFF;
        z-index: 1;
        position: relative;
      }
    
  }