<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">


</head>



<body style="background: black;">

    <div class="container login-container">
      <div class="cuarto-circulo"></div>
      <div class="row">     
        <div class="col login-form">
            <div class="login_form_in">
                <div class="auth_branding d-flex justify-content-center">
                    <img src="assets/logo_negroo.png" class="auth_branding_in rounded-circle" alt='Procraft Studio'>
                </div>
              <h1 class="auth_title text-left  d-flex justify-content-center">Cambio de Contraseña</h1>


              <mat-stepper>


                <mat-step [editable]="isEditable">
                  <ng-template matStepLabel>Correo</ng-template>
                  <ng-template matStepContent>
                    <div class="row">    
                        <div class="form-group">
                            <label for=" email" class="form-label ">Correo Electronico</label>
                          <input matInput type="email" class="form-control" name="email" placeholder="Digite su correo" [(ngModel)]="correo">
                        </div>
                        <div class="form-group">

                            <div class="col">

                                <div class="row">

                                    <button class="btn btn-warning btn-lg btn-block" (click)="searchDateUser(correo)">Validar</button>

                                </div>

                                <div class="row">

                                    <button class="btn btn-warning btn-lg btn-block" *ngIf="state_email != '';" mat-button matStepperNext>Siguiente</button>

                                </div>

                            </div>

                        </div>
                      </div>
                  </ng-template>
                </mat-step>





                <mat-step [editable]="isEditable">
                  <ng-template matStepLabel>Numero de Teléfono</ng-template>
                  <ng-template matStepContent>
                    <div class="row">    
                        <div class="form-group">
                            <label for=" email" class="form-label ">Numero de Teléfono</label>
                          <input matInput class="form-control" name="email" placeholder="Digite su Numero de Teléfono" [(ngModel)]="numero_telefono_conf" >
                        </div>
                        <div class="form-group">

                            <div class="col">

                                <div class="row">

                                    <input type="submit" class="btn btn-warning btn-lg btn-block" value="Validar" (click)="confirmNumerPhone(numero_telefono_conf)">

                                </div>

                                <div class="row">

                                    <button type="submit" class="btn btn-warning btn-lg btn-block" mat-button matStepperNext *ngIf="state_phone != '';">Siguiente</button>

                                </div>

                            </div>

                          
                        </div>
                      </div>
                      
                  </ng-template>
                </mat-step>




                <mat-step [editable]="isEditable">
                  <ng-template matStepLabel>Codigo</ng-template>
                  <ng-template matStepContent>
                    <div class="row">
                      <div class="form-group">
                        <label for=" email" class="form-label ">Codigo de Verificacion</label>
                        <input matInput class="form-control" name="email" placeholder="Digite el Codigo de Verficacion" [(ngModel)]="code">
                      </div>
                      <div class="form-group">
                        <input type="submit" class="btn btn-warning btn-lg btn-block" value="Validar" (click)="validateCodeEmail(code)">
                        <button class="btn btn-warning btn-lg btn-block" value="Siguiente" *ngIf="state_code != '';" mat-button matStepperNext>Siguiente</button>

                        <div *ngIf="first_code == false; then first"></div>
                        <div *ngIf="second_code == true; then second"></div>
                        <div *ngIf="third_code == true; then three"></div>

                        <ng-template #first>

                          <div *ngIf="description_first == false;">En {{timeLeft}}s Podrá Solicitar un Nuevo Código</div>
                          <div *ngIf="description_first == true;">¡Ya puedes solicitar un nuevo código!.</div>
                          <input type="submit" class="btn btn-danger btn-lg btn-block" value="Solicitar Nuevo Codigo" (click)="generateNewCodeSecond()" [disabled]="!disabled_first">

                        </ng-template>

                        <ng-template #second>

                          <div *ngIf="description_second == false;">En {{timeLeft_second}}s Podrá Solicitar un Nuevo Código</div>
                          <div *ngIf="description_second == true;">¡Ya puedes solicitar un nuevo código!.</div>
                          <input type="submit" class="btn btn-danger btn-lg btn-block" value="Solicitar Nuevo Codigo" (click)="generateNewCodeThree()"  [disabled]="!disabled_second">

                        </ng-template>

                        <ng-template #three>

                          <label for=" email" class="form-label ">No es posible generar más códigos de validación. </label>

                        </ng-template>


                      </div>
                    </div>
                  </ng-template>
                </mat-step>




                <mat-step [editable]="isEditable">
                  <ng-template matStepLabel>Actualizacion</ng-template>
                  <ng-template matStepContent>
                    <div class="row">

                      <form [formGroup]="formUpdatePassword" (ngSubmit)="updatePassword(formUpdatePassword.value)">

                        <div class="form-group">
                          <label for=" email" class="form-label ">Nueva Contraseña</label>
                          <input matInput type="password" class="form-control" name="email" placeholder="Digite el Codigo de Verficacion" formControlName="password_new">
                        </div>
                        <div class="form-group">
                          <label for=" email" class="form-label ">Confimacion de Contraseña</label>
                          <input matInput type="password" class="form-control" name="email" placeholder="Digite el Codigo de Verficacion" formControlName="password_new_conf">
                        </div>
                        <div class="form-group">
                          <input type="submit" class="btn btn-warning btn-lg btn-block" value="Actualizar">
                        </div>

                      </form>



                    </div>
                  </ng-template>
                </mat-step>





              </mat-stepper>
            </div>
        </div>    
        <div class="cuarto-circulo2"></div>   
      </div>
    </div>

 
</body>


